@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d2a3pp');
  src:  url('fonts/icomoon.eot?d2a3pp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d2a3pp') format('truetype'),
    url('fonts/icomoon.woff?d2a3pp') format('woff'),
    url('fonts/icomoon.svg?d2a3pp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medal:before {
  content: "\e91f";
}
.icon-twitterMedium:before {
  content: "\e923";
}
.icon-facebookMedium:before {
  content: "\e924";
}
.icon-upload .path1:before {
  content: "\e921";
  color: rgb(51, 51, 51);
}
.icon-upload .path2:before {
  content: "\e922";
  margin-left: -1.220703125em;
  color: rgb(255, 255, 255);
}
.icon-moreArrow:before {
  content: "\e920";
}
.icon-docs:before {
  content: "\e908";
}
.icon-app-full:before {
  content: "\e901";
}
.icon-app:before {
  content: "\e902";
}
.icon-camera-full:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-cloud-full:before {
  content: "\e905";
}
.icon-cloud:before {
  content: "\e906";
}
.icon-docs-full:before {
  content: "\e907";
}
.icon-indicator:before {
  content: "\e909";
}
.icon-indicator.svg-full:before {
  content: "\e90a";
}
.icon-mic-full:before {
  content: "\e90b";
}
.icon-mic:before {
  content: "\e90c";
}
.icon-wifi-full:before {
  content: "\e914";
}
.icon-wifi:before {
  content: "\e91c";
}
.icon-media-pause:before {
  content: "\e919";
}
.icon-full-screen:before {
  content: "\e91a";
}
.icon-play:before {
  content: "\e91b";
}
.icon-password:before {
  content: "\e916";
}
.icon-google:before {
  content: "\e915";
}
.icon-userName:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-toyCar-1:before {
  content: "\e913";
}
.icon-like:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-github:before {
  content: "\e90f";
}
.icon-mouse:before {
  content: "\e90d";
}
.icon-bigD:before {
  content: "\e900";
}
.icon-chevron-thin-right:before {
  content: "\e91d";
}
.icon-controller-play:before {
  content: "\e91e";
}
.icon-trophy:before {
  content: "\e99e";
}

