@import "compass/css3";


/* icons */
@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/fonts/icomoon.eot?ufroyt');
  src:  url('icomoon/fonts/icomoon.eot?ufroyt#iefix') format('embedded-opentype'),
    url('icomoon/fonts/icomoon.ttf?ufroyt') format('truetype'),
    url('icomoon/fonts/icomoon.woff?ufroyt') format('woff'),
    url('icomoon/fonts/icomoon.svg?ufroyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mic:before {
  content: "\e901";
}
.icon-gps:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e903";
}
.icon-icons-10:before {
  content: "\e904";
}
.icon-app:before {
  content: "\e905";
}
.icon-docs:before {
  content: "\e906";
}
.icon-mic-full:before {
  content: "\e907";
}
.icon-gps-full:before {
  content: "\e908";
}
.icon-camera-full:before {
  content: "\e909";
}
.icon-wifi:before {
  content: "\e90a";
}
.icon-wifi-full:before {
  content: "\e90a";
}
.icon-app-full:before {
  content: "\e90b";
}
.icon-docs-full:before {
  content: "\e90c";
}
.icon-bigD:before {
  content: "\e900";
}





.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,body{height:100%;}
body {
  padding: 0;
  font-family: 'Comfortaa', cursive;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.margin-auto{
      margin: auto auto;
}
.navbar{
  margin: 0;
  border: 0 !important;
  background: 0;
  z-index: 100;
}


.bg{
  height:100%;
  color: #fff;
  padding: 0;
}
.navbar-default .navbar-nav > .active > a{
    background: none !important;
    display: inline-block;
    border-bottom: 1px dashed #555555;
    padding-bottom: 4px;
    padding: 15px 0px 18px 0px;
}
.nav li{
      margin-top: -19px;
}
.navbar-header{
  padding: 0;
}
.navbar-brand{
    color: #fff !important;
    height: 70px;
    padding: 28px 15px;
    font-size: 26px;
    font-weight: 100;
    line-height: 20px;
    background-color: #333;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}
.navbar-default .navbar-brand:hover{
  background-color: #333;
}
.navbar-nav{
    margin-top: 35px;
    padding: 0;
    padding-left: 16px;
}
.preOrder{
    background-color: #333333;
    color: #fff !important;
    border-radius: 4px;
    height: 33px;
    margin-top: 6px;
    padding-top: 8px !important;
}
.preOrder:hover{
      background-color: #6abec5 !important;
}


$color : #333, #F3B562, #b13b87, #F06060, #72C6CE, #4A6164;




  @for $i from 1 through 6 {
    .bg-#{$i}{
      background-color: nth($color, $i);
    }
    .active-#{$i}{
      color: nth($color, $i);
    }
    .color-#{$i} .icon-bigD:before{
      color: nth($color, $i);
    }
  }


.upperText{
  padding: 80px;
  padding-top: 40px;
}
.bg p{
    padding: 17px 0 9px 0;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}
.inlineBg1{
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
}


.superCenter{
  font-size: 550px;
  text-align: center;
  margin: auto auto;
}
.icon-bigD{
  position: fixed;
  top: 42%;
  left: 25%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.innerLogo{
    font-family: 'Comfortaa', cursive;
    font-size: 63px;
    margin-left: -149px !important;
    height: 72px !important;
}
.menu{
  display: block;
  float: left;

  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);

}
.node:before{
    font-size: 30px;
}
.icon-bigD:before {
    font-size: 460px;
}
.icon-bigD{
    left: 27%;
    position: fixed !important;
    top: 40%;
}
@mixin on-circle($item-count, $circle-size, $item-size) {  
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0; 
  list-style: none;
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;
  
    $angle: (32);
    $rot: 100;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 8, $circle-size: 450px, $item-size: 6em); 
  margin: 5em auto 0;

  span { 
    display: block; 
    max-width: 100%; 
    border-radius: 50%;
    transition: .15s;
    cursor: pointer;
  }
}


.card-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.card {
  width: 100%;
  position: absolute;
}

.card.ng-animate {
  transition: .7s ease-in-out all;
}

.card.ng-enter.toLeft {
  left: 100%;
}
.card.ng-enter-active.toLeft {
  left: 0;
}
.card.ng-leave.toLeft {
  left: 0;
}
.card.ng-leave-active.toLeft {
  left: -100%;
}

.card.ng-enter.toRight {
  left: -100%;
}

.card.ng-enter-active.toRight {
  left: 0;
}

.card.ng-leave.toRight {
  left: 0;
}

.card.ng-leave-active.toRight {
  left: 100%;
}
 

.card-container .ng-hide{
  -webkit-animation: moveToRight .7s ease-in-out both;
  animation: moveToRight .7s ease-in-out both;
}
.card-container .ng-show{
  -webkit-animation: moveFromRight .1s ease-in-out both;
  animation: moveFromRight .1s ease-in-out both;
}

.circle-container .ng-hide{
  -webkit-animation: fadeOut .7s ease-in-out both;
  animation: fadeOut .7s ease-in-out both;
}
.circle-container .ng-show{
  -webkit-animation: fadeIn .1s ease-in-out both;
  animation: fadeIn .1s ease-in-out both;
}

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.btn-dride{
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    border-radius: 2px;
}

.bottomIcon{
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: 0;
}


.brick{
  width: 50%;
  height: 50%;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 30px;
}
.txtBrick{
  background-color: nth($color, 2);
}

.bg_mic_1{
  background-image: url('../images/mic1.png');
}

.bg_mic_2{
  background-image: url('../images/mic2.png');
}
.black .node{
  color: #333;
}
.brick p{
  padding: 40px;
  text-align: left;
}
.brick h2{
    padding: 0 40px 0 40px;
    margin-bottom: -17px;
}
.btn-dride-black{
    background-color: #000;
    color: #fff;
}
.btn-dride-black:hover, .btn-dride-black:active{
      color: #fff;
      outline: 0;
      opacity: 0.8;
}
.btn-dride-black:focus{
      color: #fff;
      outline: 0;
}
.bg-1{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/gps.jpg');
}
.inWhiteWrap{
    padding: 12px 0 12px 0;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 54%;
    height: 292px;
    color: #000;
}

.inBlueWrap{
    padding: 52px;
    background-color: rgba(177, 59, 135, 0.9);
    margin-top: 20%;
    height: 39%;
    color: #fff;
    float: right;
}
.fxtp2{
  margin-top: -17px !important;
  background-color: #fff;
}
.fxtp3{
  margin-top: -19px;
  background-color: #333;
}
.fxtp4{
  margin-top: 27px;

}
.ftgps{
    margin-top: 32px;
}

.appHead{
  height: 60%;
}
.gradApp{
  background: #72c6ce;

  background: radial-gradient(ellipse at center, #72c6ce 0%, #258290 100%);

  height: 100%;
}
.btn-dride-flatTop{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.roundTop{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.ffx1{
      margin-top: -8px;
}


.appImg{
    max-width: 650px;
    margin: auto auto;
}


.labelNear{
    font-family: 'Comfortaa', cursive;
    padding-right: 10px;
    padding-top: 11px;
    font-size: 17px;
    font-weight: 100;
    float: right;
}
.node{
     // width: 188px;
}
.node:before{
  float: right;
}
.iW {
    margin-top: 60px;
    width: 190px;
    margin-left: -179px;
    height: 35px;
}


.txtBrick-inner {
  position: relative;
  top: 46%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

