@import "compass/css3";


/* icons */
@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/fonts/icomoon.eot?ufroyt');
  src:  url('icomoon/fonts/icomoon.eot?ufroyt#iefix') format('embedded-opentype'),
    url('icomoon/fonts/icomoon.ttf?ufroyt') format('truetype'),
    url('icomoon/fonts/icomoon.woff?ufroyt') format('woff'),
    url('icomoon/fonts/icomoon.svg?ufroyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
a{
  color: inherit !important;
  text-decoration: inherit !important;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-full:before {
  content: "\e901";
}
.icon-app:before {
  content: "\e902";
}
.icon-camera-full:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-cloud-full:before {
  content: "\e905";
}
.icon-cloud:before {
  content: "\e906";
}
.icon-docs-full:before {
  content: "\e907";
}
.icon-docs:before {
  content: "\e908";
}
.icon-indicator:before {
  content: "\e909";
}
.icon-indicator.svg-full:before {
  content: "\e90a";
}
.icon-mic-full:before {
  content: "\e90b";
}
.icon-mic:before {
  content: "\e90c";
}
.icon-wifi-full:before {
  content: "\e914";
}
.icon-wifi:before {
  content: "\e91c";
}
.icon-media-pause:before {
  content: "\e919";
}
.icon-full-screen:before {
  content: "\e91a";
}
.icon-play:before {
  content: "\e91b";
}
.icon-password:before {
  content: "\e916";
}
.icon-google:before {
  content: "\e915";
}
.icon-userName:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-toyCar-1:before {
  content: "\e913";
}
.icon-like:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-github:before {
  content: "\e90f";
}
.icon-mouse:before {
  content: "\e90d";
}
.icon-bigD:before {
  content: "\e900";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h2{
    font-size: 30px;
}
p{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
.text-center {
    text-align: center !important;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,body{height:100%;}
body {
  padding: 0;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.margin-auto{
      margin: auto auto;
}
.navbar{
  margin: 0;
  border: 0 !important;
  background: 0;
  z-index: 100;
}
.no-padding{
      padding: 0;
}
.mtop0{
  margin-top: 0 !important;
}
.bg{
  height:100%;
  color: #fff;
  padding: 0;
}
.navbar-default .navbar-nav > .active > a{
    background: none !important;
    border-bottom: 1px dashed #555555;
    display: inline;
    padding: 20px 15px 20px 15px;
    position: relative;
    top: 14px;

}
.nav li{
    margin-top: -19px;
    padding-right: 0;
    padding-left: 0;
}
.navbar-header{
  padding: 0;
}
.navbar-brand{
    color: #fff !important;
    height: 70px;
    padding: 28px 15px;
    font-size: 26px;
    font-weight: 100;
    line-height: 20px;
    background-color: #333;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}
.navbar-default .navbar-brand:hover{
  background-color: #333;
}
.navbar-nav{
    margin-top: 35px;
    padding: 0;
    padding-left: 16px;
}
.preOrder{
    float: right !important;
}
.preOrder a{
    background-color: #333333;
    color: #fff !important;
    border-radius: 4px;
    height: 33px;
    margin-top: 6px;
    padding-top: 8px !important;
}
.preOrder a{
    background-color: #333 !important;
    color: #fff !important;
}
.z10{
      z-index: 10;
}

$color : #333333, #333, #F3B562, #b68cbf, #F06060, #72C6CE, #4A6164;




  @for $i from 1 through 7 {
    .bg-#{$i}{
      background-color: nth($color, $i);
    }
    .active-#{$i}{
      color: nth($color, $i);
    }
    .color-#{$i} .icon-bigD:before{
      color: nth($color, $i);
    }
  }


.upperText{
  padding: 80px !important;
  padding-top: 40px;
}
.bg p{
    padding: 17px 0 9px 0;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}
.inlineBg1{
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-default .navbar-brand:focus{
  background-color: #333 !important;
}
.superCenter{
  font-size: 550px;
  text-align: center;
  margin: auto auto;
}
.icon-bigD{
  position: fixed;
  top: 42%;
  left: 25%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.innerLogo{
    font-family: 'Comfortaa', cursive;
    font-size: 63px;
    margin-left: -149px !important;
    height: 72px !important;
    cursor: pointer;
}
.menu{
  display: block;
  float: left;

  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);

}
.node:before{
    font-size: 30px;
}
.icon-bigD:before {
    font-size: 460px;
}
.icon-bigD{
    left: 27%;
    position: fixed !important;
    top: 40%;
}
@mixin on-circle($item-count, $circle-size, $item-size) {  
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0; 
  list-style: none;
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;
  
    $angle: (32);
    $rot: 100;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 8, $circle-size: 450px, $item-size: 6em); 
  margin: 5em auto 0;

  span { 
    display: block; 
    max-width: 100%; 
    border-radius: 50%;
    transition: .15s;
    cursor: pointer;
  }
}


.card-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.card {
  width: 100%;
  position: absolute;
}

.card.ng-animate {
  transition: .7s ease-in-out all;
}

.card.ng-enter.toLeft {
  left: 100%;
}
.card.ng-enter-active.toLeft {
  left: 0;
}
.card.ng-leave.toLeft {
  left: 0;
}
.card.ng-leave-active.toLeft {
  left: -100%;
}

.card.ng-enter.toRight {
  left: -100%;
}

.card.ng-enter-active.toRight {
  left: 0;
}

.card.ng-leave.toRight {
  left: 0;
}

.card.ng-leave-active.toRight {
  left: 100%;
}
 

.card-container .ng-hide{
  -webkit-animation: moveToRight .7s ease-in-out both;
  animation: moveToRight .7s ease-in-out both;
}
.card-container .ng-show{
  -webkit-animation: moveFromRight .1s ease-in-out both;
  animation: moveFromRight .1s ease-in-out both;
}

.circle-container .ng-hide{
  -webkit-animation: fadeOut .7s ease-in-out both;
  animation: fadeOut .7s ease-in-out both;
}
.circle-container .ng-show{
  -webkit-animation: fadeIn .1s ease-in-out both;
  animation: fadeIn .1s ease-in-out both;
}

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.btn-dride{
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    border-radius: 2px;
}

.bottomIcon{
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: 0;
}


.brick{
  width: 50%;
  height: 50%;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 30px;
}
.txtBrick{
  background-color: nth($color, 3);
}

.bg_cloud_1{
  background-image: url('../images/cloud.png');
}

.bg_cloud_2{
  background-image: url('../images/cloud-2.png');
}
.redCloud{
  font-size: 70px;
  color: #f06060;
  margin-left: 29px;
}
.black .node{
  color: #333;
}
.brick p{
  padding: 40px;
  text-align: left;
}
.brick h2{
    padding: 0 40px 0 40px;
    margin-bottom: -17px;
}
.btn-dride-black{
    background-color: #000;
    color: #fff;
}
.btn-dride-black:hover, .btn-dride-black:active{
      color: #fff;
      outline: 0;
      opacity: 0.8;
}
.btn-dride-black:focus{
      color: #fff;
      outline: 0;
}

.btn-dride-white{
    background-color: #fff;
    color: #333 !important;
}
.btn-dride-white:hover, .btn-dride-white:active{
      color: #333;
      outline: 0;
      opacity: 0.8;
}
.btn-dride-white:focus{
      color: #333;
      outline: 0;
}



.bg-3{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/micBg.png');
}
.bg-3-mobile{
  display: none;
}
.inWhiteWrap{
    padding: 12px 0 12px 0;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 54%;
    height: 292px;
    color: #000;
}
.micWrap{
    background-color: #f3b562;
    height: 381px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 0!important;
}
.inBlueWrap{
    padding: 52px;
    background-color: #b68cbf;
    margin-top: 0;
    color: #fff;
    float: right;
}
.bg-6 .upperText{
      padding: 30px !important;
      padding-top: 47px !important;
}
.fxtp2{
  margin-top: -17px !important;
  background-color: #fff;
}
.fxtp3{
  margin-top: 11px;
  background-color: #333;
}
.fxtp4{
  margin-top: 27px;

}
.ftgps{
    margin-top: 32px;
}

.appHead{
   height: 56%;
}
.gradApp{
  background: #72c6ce;
  height: 100%;
}
.btn-dride-flatTop{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.roundTop{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.ffx1{
      margin-top: -8px;
}


.appImg{
    max-width: 330px;
    margin: auto auto;
}

.greyBg{
  background-color: #ECECEC;
}

.labelNear{
    font-family: 'Comfortaa', cursive;
    padding-right: 10px;
    padding-top: 6px;
    font-size: 17px;
    font-weight: 100;
    float: right;
}
.node{
     // width: 188px;
}
.node:before{
  float: right;
}
.iW {
    margin-top: 60px;
    width: 190px;
    margin-left: -179px;
    height: 35px;
}


.txtBrick-inner {
  position: relative;
  top: 46%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.prod{
  width: 35%;
  margin: auto auto;
  margin-top: 100px;
}
.preOrderBtn{
    margin-bottom: 40px;
    border: 0;
    background-color: #ffffff;
    margin-top: 16px;
    width: 169px;
    margin-left: calc(50% - 84.5px);
}
.clearBtn{
  background-color: inherit;
  color: #484848;
}
.productTtl{
    color: #333;
    font-size: 60px;
    margin-bottom: -22px;
    text-transform: lowercase;
}
.productSubTtl{
    font-size: 18px;
    font-weight: 100;
    color: #404040;
    text-transform: capitalize;
    margin-top: 29px;
    letter-spacing: 1px;
}
.clear{
  clear: both;
}

.mouseWiggle {
  color: #333;
}

.profile {

  color: #666666;

  .headerBg{
    background-color: #333;
    background-image: url(../images/profile/defaultBg.jpg);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .profilePic img{
    border-radius: 2px;
    border: 1px solid #fff;
    width:  87px;
    height:  87px;
  }
  .profilePic{
    margin-top: -70px;
    padding: 9px;
  }
  .profilePic p{
    margin-top: 20px;
    color: #fff;
    font-size: 26px;
    font-weight: 100;
    text-transform: uppercase;
  }

  .profilePic span{
    font-size: 16px;
    font-weight: 100;
  }

  .gradBg{
    background: linear-gradient(to top, #2b2b2b 0%, transparent 100%);
    height: 90px;
    position: relative;
    top: 160px;
  }

  .box{
    background-color: #fff;
    border: 11px solid #ECECEC;
    min-height: 100px;
    padding: 0;

  }

  .videoPlayer{
    padding: 5px 0 5px 0;
  }
  .pad5{
    padding: 7px;
    width: 100%;
  }

  .mainVid{
    margin-top: 41px;
    padding: 7px;
  }
  .actionBar{
    margin: 20px 0px 20px 0px;
    border-bottom: 1px dashed #666666;
    height: 29px;
  }

  .actions{
    list-style: none;
  }

  .actions li{
      float: left;
      margin-right: 20px;
      font-size: 15.6px;
      font-weight: 100;
  }
 
  .actions li:last-child{
      margin-right: 0px;
  }
  .views{
    font-weight: 600;
    font-size: 19px;
    margin-top: -5px;
  }

  .innerPad{
    padding: 0 25px 0 25px;
  }

  p{
    font-weight: 100;
    font-size: 16px;
    color: #8E8E8E;
  }
  p b{
    color: #666666;
  }

  .dateLabel{
    font-size: 12px;
    float: right;
  }


  .moreClips {
    padding: 7px;
  }

  .dvdrOfClips{
    text-align: center;
    font-size: 12px;
    margin-top: 14px;
  }


}
.videogular-container{
  height: 560px;
}

.halfPage{
      height: calc(100% - 70px);
}

.docs {

    h1{
      text-transform: uppercase;
      font-weight: 100;
    }

    h2{
      font-size: 20px;
      color: #636363;
      font-weight: 100;
    }

    height: 100%;

    .sideMenu{
      background-color: #333;
      height: 100%;
    }
    .sideMenu ul{
      color: #fff;
      list-style: none;
    }
    .sideMenu ul li{
      padding: 10px;
    }
    .contaier, .row{
      height: 100%;
    }
    .content{
        background-color: #ECECEC;
        min-height: 100%;
        padding: 70px;
        padding-top: 1px;
    }
    .textBox{
      background-color: #fff;
      padding: 20px;
      margin: 22px 10px;
      border-radius: 4px;
    }
    .textBox a{
      border-bottom: 1px dashed #929292;
      cursor: pointer;
    }
    .apisBox{
      list-style: none;
      margin-top: 25px;
      padding: 0;
    }
    .apisBox li{
      background-color: #fff;
      height: 250px;
      border: 10px solid #ECECEC;
      margin-bottom: 10px;
      display: inline-block;
      border-radius: 12px;
      margin: 0;
    }
    .featureBox span{
      font-size: 54px;
      position: relative;
      top: 41px;
    }
    .featureBox .desc{
      margin-top: 47px;
      font-size: 20px;
    }
    .featureBox .more{
      font-size: 18px;
      color: #7d7d7d;
    }
    .featureBox a{
      color: inherit;
      text-style: inherit;
    }
    .featureBox a:hover, .featureBox a:focus, .featureBox a:active{
      text-decoration: inherit; 
    }
    div[hljs]{
          margin-bottom: 60px;
    }
    .paddedTtl{
          padding: 40px !important;
    }
    p{
          margin: 0 0 4px;
     }
}

.icon-toyCar-1{
	font-size: 29px !important;
    position: relative !important;
    top: 60px !important;
}
.mptpToFx{
	margin-top: 74px !important;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 170px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 170px;
    top: 100px;
    width: 0;
    height: 100%;
    margin-left: -170px;
    overflow-y: auto;
    background: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 170px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -170px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 170px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 22px;
}
.sidebar-nav:first-child{
      margin-top: 54px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.sidebar-nav .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.sidebar-nav .bottom a{
  color: #333;
  cursor: pointer;
}
.sidebar-nav .bottom a:hover{
  color: #333;
  background-color: #fff;
}
.activeNav{
    text-decoration: none;
    color: #fff !important;
}
footer {
    margin-top: -15px;
    .full {
        width: 100%;
    }
    .gap {
        height: 30px;
        width: 100%;
        clear: both;
        display: block;
    }

    
    .bg-gray {
        background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
        box-shadow: 0 1px 0 #B4B3B3;
    }
    .social{
      list-style: none;
    }
    .social li {
        background: none repeat scroll 0 0 #B5B5B5;
        border: 2px solid #B5B5B5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        float: left;
        height: 36px;
        line-height: 36px;
        margin: 0 8px 0 0;
        padding: 0;
        text-align: center;
        width: 36px;
        transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
    }
    .social li:hover {
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }
    .social li a {
        color: #EDEFF1;
    }
    .social li:hover {
        border: 2px solid #2c3e50;
        background: #2c3e50;
    }
    .social li a i {
        font-size: 16px;
        margin: 0 0 0 5px;
        color: #EDEFF1 !important;
    }
    .footer-bottom {
        background: #E3E3E3;
        border-top: 1px solid #DDDDDD;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-bottom p.pull-left {
        padding-top: 6px;
    }
    .payments {
        font-size: 1.5em;
    }

}

.wrapTopMenu{

  height: 100px !important;
  margin: 0;
  padding: 0;

  .navbar{
    background-color: #fff;
  }
  .navbar-header{
      margin-left: 70px;
      width: 150px;
  }
  .preOrder a{
    background-color: #333 !important;
    color: #fff !important;
  }

}

.darkOverlay{
    position: fixed;
    background-color: rgba(51, 51, 51, 0.72);
    width: 100%;
    height: 100%;
    top: 0;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
      max-height: inherit !important;
}

#navbarCollapse{
    animation-duration: 0s;
    animation-delay: 0s;
}
.wrapTopMenu #navbarCollapse{
    height: 100px !important;
}
#wrapper{
    height: 100%;
}

.editDocsLabel{
    float: right;
    color: #c5c5c5;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 3px 9px 4px 10px;
    border-bottom-left-radius: 4px;
    margin-top: -20px;
    margin-right: -20px;
}

.editDocsLabel a{
    border-bottom: 0 !important;
}


/* pre order window */
  .bg-9{
    background-color: #F2F2F2;
    animation-duration: 0.5s;
  }
  .preOrderTop{
    height: 70%;
  }
  .preOrderBg{
    position: fixed;
    top: 0;
    width: 50%;
    right: 0;
  }

  .preOrderBlock h2{
    color: #333;
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 90px;

  }
  .kickstarerLabel{
    width: 35%;
  }

  .hpPreOrder{
      .preOrderFooter{
        position: fixed;
        bottom: 0;
      }
  }


  .preOrderFooter{
      background-color: #333;
      height: 160px;

      input{
        background-color: #333;
        font-size: 16px;
        padding: 21px;
        text-transform: uppercase;
        border-radius: 4px;
        color: #fff;
      }
      button{
          padding: 11px;
          font-weight: 100;
          border-radius: 4px;
      }
      input:focus{
          border-color: #fff;
          outline: 0;
          box-shadow: none;
      }
      button:focus, button:active, input:focus{
        outline: 0 !important;
      }
      h3{
        padding-top: 40px;
        padding-bottom: 5px;
      }
      input{
        text-transform: capitalize;
      }
      button{
        text-transform: uppercase;
      }  
  }
  .modalClose{
      color: #333;
      padding: 20px!important;
      font-size: 31px!important;
      padding-top: 8px!important;
      cursor:pointer;
  }
  .submitted img{
        max-width: 100px;
        margin-top: -37px;
  }
  .buy{
    .prod {
      width: 25%;
    }
    h3{
      color: #fff;
    }
  }



.capitalize{
  text-transform: capitalize;
}
.cloudBox .txtBrick{
  background-color: #333;
  color: #fff;
}
.getDrideApp{
	margin-top: 103px;
    word-spacing: 10px;
    margin-bottom: -38px;
}
.mTtlInApp{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 39px;
}
.docsTtl{
	font-family: 'Comfortaa', cursive;
}
.miniDocs{
  .apisBox{
    list-style: none;
    margin-top: 25px;
    padding: 0;
  }
  .apisBox li{
    background-color: #4a6164;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    margin-top: 21px;
    margin: 11px;
    width: 130px;
    height: 130px;
  }
  .mmffx1{
	margin-top: 35px;
  }
  .icon-toyCar-1{
	top: 36px !important;
    font-size: 19px !important;
  }
  .featureBox span{
	font-size: 42px;
    position: relative;
	top: 25px;
  }
  .featureBox .desc{
    margin-top: 13px;
    font-size: 16px;
  }
  .featureBox p{
    text-align: center;
    font-size: 16px;
  }
  .featureBox .more{
    font-size: 15px;
    color: #ffffff;
    margin-top: -37px;
  }
  .featureBox a{
    color: inherit;
    text-style: inherit;
  }
  .featureBox a:hover, .featureBox a:focus, .featureBox a:active{
    text-decoration: inherit; 
  }
}
.productWrap{
    position: absolute;
    bottom: 21px;
    width: 100%;
}
.micTxtfx1{
	max-width: 490px;
    margin: auto auto;
    margin-top: -15px;
}
.buyLabel{
    text-align: center;
    color: #333 !important;
    position: relative;
    top: -25px;
    cursor: pointer;
}
.features{
  height: 100%;
  .pic_1{
    background-image: url('../images/features/pic1.png');
    height: 70%;
    max-height: 550px;
    background-size: cover;
    background-position: center; 
  }
  .pic_2{
    background-image: url('../images/features/pic2.png');
  }
  .pic_3{
    background-image: url('../images/features/pic3.png');
    min-height: 780px;
  }
  .logo{
    text-transform: lowercase;
    font-size: 90px;
    margin-top: 90px;
  }
  .slogen{
    text-transform: initial;
    margin-bottom: 99px;
  }

  .featuresList{
    background-color: #333;
  }
  .featuresList h3{
    font-weight: 100;
    font-family: raleway;
  }
  .modelGif{
    padding-top: 90px;
    margin: auto auto;
    padding-bottom: 50px;
  }
  .featuresList h2{
    color: #fff;
    text-align: center;
  }
  .featuresList ul{
    color: #fff;
    list-style: none;
  }

  .featuresList ul{
    color: #fff;
    list-style: none;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .featuresList li{
      height: 170px;
  }
  .featuresList span{
    font-size: 55px;
  }


  .whatWhy, .app {
    p{
      font-size: 24px;
      text-align: left;
      margin-bottom: 100px;
    }
    h2{
      margin-top: 100px;
      font-size: 48px;
      margin-bottom: 70px;
    }
  }

  .indicators{
    margin-top: 140px;
    
    h2{
      font-size: 48px;
      width: 50%;
      padding-bottom: 30px;
      line-height: 56px;
    }
    p{
      font-size: 26px;
      padding: 0;
      margin: 0;
    }

    .hBlcok{
      height: 650px;
    }
  }


  .adas{
    background-color: #333;
    color: #fff;
    margin-bottom: 100px;
    h2{
      height: 170px;
      padding-top: 64px;
      text-align: center;
    }
    .videoWrapper {
      position: relative;
      padding-bottom: 35%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }
    .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .app {
    img{
      margin-bottom: 50px;
    }
    h2{
      margin-top: 61px;
    }
    p{
      margin-top: 40px;
    }

  }
  .cloud{
    background-color: #333;
    margin-top: 101px;
    .icns{
      color: #EC6061;
      font-size: 135px;
      padding-top: 50px;
      padding-bottom: 80px;
    }
    p{
      font-size: 47px;
      margin-top: -24px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 100;
    }

    .cloudPlatfrom{
      color: #fff;
      height: 800px;
      text-align: center;
      margin-top: 148px;
    }
    h2{
      color: #fff;
      margin-top: -59px;
      margin-bottom: 80px;
      text-transform: capitalize;
    }
    .txt {
        margin-top: 17px;
        p{
          font-size: 28px;
          text-transform: initial;
          margin-bottom: 50px;
          text-align: left;
        }
    }

  }



  .tech{

      background-color: #EAEAEA;
      height: 1000px;


      h2{
        margin-top: 80px;
        margin-bottom: 80px;
      }
      .wrp{
        border: 1px solid #333;
      }
      .techStack{
           display: -webkit-flex;
           display: flex;
           -webkit-flex-direction: row; /* works with row or column */
           flex-direction: row;
           -webkit-align-items: center;
           align-items: center;
           -webkit-justify-content: center;
           justify-content: center;

      }
      .techStack .bx, .forkUs{
        background-color: #fff;
        border: 1px solid #c9c9c9;
        width: 325px;
        height: 325px;
        margin: 10px;
        text-align: center;
        border-radius: 4px;
        position: relative;
      }
      .bx img, .forkUs img{
          max-height: 100%;  
          max-width: 50%; 
          width: auto;
          height: auto;
          position: absolute;  
          top: 0;  
          bottom: 0;  
          left: 0;  
          right: 0;  
          margin: auto;
      }

      .forkUs{
        margin: auto auto;
        margin-top: 10px;
       
        img{
              max-width: 37%;
              margin-top: 71px;
        }
      }
      .fork{
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          background-color: #333;
          height: 50px;
          color: #fff;
          padding-top: 9px;
          font-size: 25px;
          font-weight: 100;
          font-family: raleway;
          border-radius: 4px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }

  }

  .subscribe{
    background-color: #333;
    height: 400px;
    .submitted img {
      margin-top: 13px;
    }
    .preOrderFooter h3 {
      padding-top: 120px;
    }
  }

}





















