@media (max-width: 1400px) {
    #navbarCollapse{
        margin: 0;
        padding: 0;
        animation-duration: 0.3s;
        animation-delay: 0s;

    }
}
@media (max-width: 320px) {
    .bg-3 {
        .ftgps {
            font-size: 26px !important;
        }
        .bg-2 .inWhiteWrap p {
            font-size: 17px !important;
        }
    }
    .bg-2 {
        .brick p {
            font-size: 16px !important;
        }
        .brick h2 {
            font-size: 20px !important;
        }
    } 
    .bg-4 {
        .ffx1 {
            font-size: 25px;
            margin-top: -39px;
        }
        .inBlueWrap p {
            font-size: 16px !important;
        }
    }
    .bg-6 {
        .upperText {
            margin-top: 51px;
        }
    }
    .productTtl {
        margin-top: 91px !important;
    }
    .features .tech .forkUs {
        width: 266px;
        height: 295px;
    }
    .features .indicators .hBlcokTxt {
        height: 540px;
    }
}

@media (max-width: 620px) {
    .bg-2 {
        .ftgps {
            font-size: 33px;
            margin-top: 2px;
        }
        .inWhiteWrap p {
            font-size: 20px;
        }
    }
    .bg-2 {
        .brick {
            padding: 0;
        }
        .brick p {
            padding: 10px;
            font-size: 18px;
        }
        .brick h2 {
            font-size: 24px;
            margin-bottom: 0;
            padding-left: 9px;
        }
        .txtBrick-inner {
            padding-left: 14px;
        }
    }
    .bg-4 {
        .ffx1 {
            font-size: 25px;
            margin-top: -39px;
        }
        .inBlueWrap p {
            font-size: 19px;
        }
        .inBlueWrap {
            height: 69%;
            background-color: #b68cbf;
        }
    }
    .bg-5 {
        .upperText {
            padding: 20px;
        }
        h1 {
            margin-top: 51px;
        }
    }
    .bg-6 {
        height: 958px;

        .appImg {
            max-width: 290px;
            padding-top: 0;
        }
        h1 {
            font-size: 21px;
            margin-top: -23px;
        }
        p {
            font-size: 18px;
        }
        .upperText {
            padding: 20px;
        }
        .getDrideApp{
            margin-top: -49px;
            margin-bottom: 20px;
        }

    }

    .bg-7{
        height: 841px;

        .outer {
          white-space: nowrap;
          overflow-y: hidden;
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
        }

        .apisBox {
          width: 100%;
          display: flex;
        }
        .miniDocs .apisBox li{
            display: inline;
        }
        .miniDocs .apisBox li{
            min-width: 180px;
        }


    }


    .prod {
        margin-top: 50px;
    }
}

@media (max-width: 442px) {
    .features .whatWhy p, .features .app p{
        font-size: 22px;
        padding: 30px;
    }
    .features .indicators .hBlcok {
        height: 360px;
    }
    .features .indicators .hBlcokTxt {
        height: 540px;
    }
    .productWrap{
        bottom: -17px;
    }
    .features .whatWhy h2, .features .app h2 {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .features .indicators {
        margin-top: 60px;
    }
    .features .app h2{
        margin-top: -60px;
        margin-bottom: 80px;
    }
    .features .cloud .cloudPlatfrom {
        margin-top: 68px;
    }
    .features .cloudPlatfrom img{
        margin-bottom: 90px;
    }
    .features .cloud .txt p {
        font-size: 25px;
    }
    .features .cloud h2 {
        margin-top: 1px;
    }
    .tech .bx{
        height: 100px !important;
    }
    .features .tech {
        height: 780px;
    }
    .appHead {
        height: 66%;
    }
    .buy2 .preOrderFooter{
        position: fixed;
        bottom: 0;
    }
    .buy .prod {
        width: 75%;
        padding: 0;
    }
    .prod {
        width: 100%;
        padding: 70px;
        padding-top: 0;
        margin-top: 0;
    }
    .preOrderFooter h3 {
        padding-top: 19px;
    }
    .docs h1 {
        text-transform: capitalize;
    }
    .bg p {
        font-weight: 200 !important;
    }
    .fx7{
        margin-top: -25px;
    }
    .bg-3-mobile{
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/micBg.png);
        height: 30%;
        margin-bottom: -30%;
    }
    .bg-3{
        background: none;
    }
    .inner-bg-4{
        height: 28%;
    }
}
@media (max-width: 1260px) {
    .upperText {
        padding: 20px !important;
        padding-top: 5px !important;
    }
}
@media (max-width: 991px) {
    .halfPage{
        height: initial !important;
    }
    .preOrderBg{
        width: 100%;
    }
    .bg_cloud_2{
            background-position-y: 110%;
    }
    .bg_cloud_1{
            background-position-y: 50%;
    }
}

@media (max-width: 769px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
@media (max-width: 768px) {
    .nav li:first-child{
        margin-top: 60px;
    }
    .navbar-default .navbar-nav > .active > a{
        top: 0px;
    }
    .micWrap{
        position: static;
    }

    .navbar-nav{
        background-color: #fff;
        margin-top: 81px;

        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 11px;
        .active a{
            background: none !important;
            display: inline-block;
            border-bottom: 0 !important;
            padding-bottom: 0;
            padding: 10px 15px !important;
        }
    }
    .navbar-toggle{
        margin: 14px 5px !important;
    }
    .preOrder{
        float: inherit !important;
        width: 100%;
    }
    .row{
        margin: 0!important;
    }
    .preOrder a{
        border: 1px solid #d4d4d4;
        width: 100%;
        margin-top: 22px;
    }
    .docs .content{
        padding-top: 1px !important;
    }
    #page-content-wrapper{
        padding: 0;
    }
    .card-container {
        margin-top: -70px;
    }
    .navbar-toggle {
        border: 0;
        margin: 0;
        border-bottom-left-radius: 2px !important;
        border-radius: 0;
        position: relative;
        left: 15px;
        padding: 12px;
        color: #333;
    }
    .navbar-nav {
        //margin-top: 115px !important;
    }
    .nav li{
        padding: 16px;
    }
    .navbar-default .navbar-toggle{
        background-color: #fff !important;
        cursor: pointer;
        padding: 13px;
        margin-right: 15px !important;
    }
    .orderNow {
        float: right;
        border: 0;
        background-color: rgba(255, 255, 255, 0.70);
        margin: 0;
        border-bottom-left-radius: 2px !important;
        border-radius: 0;
        position: relative;
        left: 13px;
        padding: 12px;
        color: #333;
        font-size: 15px;
        height: 38px;
        padding-top: 8px;
        border-bottom-right-radius: 2px !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #333;
    }
    .card-container {
        overflow: visible;
    }
    .productTtl {
        font-weight: 100 !important;
        margin-top: 151px;
        font-size: 40px;
    }
    .card.ng-animate {
      transition: .2s ease-in-out all;
    }
    .videogular-container{
      height: auto;
    }

    .preOrder{
        position: static;
        left: 0px;
    }
    .docs .content{
      padding: 0px !important;
    }
    .wrapTopMenu .navbar-header {
        margin-left: 10px !important;
    }

    .micWrap{
        padding-top: 20px !important;
    }
    .upperText{
        padding: 20px !important;
    }
    footer{
        display: none;
    }
    .paddedTtl{
        display: inline-block;
    }
    .wrapTopMenu, .wrapTopMenu .navbar {
        height: 70px !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: #fff;
    }

    //main page flow
    .card {
      position: static;
    }

    .bottomIcon {
        position: static;
    }
    .upperText{
        padding: 21px;
    }
    .bg-1{
        .bottomIcon{
                margin-top: 111px;
        }
    }
    .bg-3{
        height: 830px;
        background-position: center;
        .inWhiteWrap {
            margin-top: 30%;
            height: 100%;
        }
        .fxtp3 {
            margin-top: 41px;
        }
        .node:before {
            font-size: 70px;
            color: #333;
        }
        .bottomIcon{
            display: none;
        }
    }
    .bg-2{
        height: 1100px;
        .brick{
            width: inherit;
            float: inherit !important;
            height: 25%;
        }
        .bottomIcon{
            position: relative;
            top: 244px;
            left: 35px;
            float: left;
        }
        .node:before {
            font-size: 70px;
            color: #fff;
        }
        .btn-block{
            margin-left: -7px;
        }
    }
    .bg-4{

        .inBlueWrap {
            margin-top: 50%;
            height: 479px;
        }
        .node:before {
            font-size: 70px;
            color: #333;
        }
        .bottomIcon{
            position: relative;
            top: -503px;
            right: 80px;

        }
        .icon-camera-full:before{
            font-size: 40px;
            color: #fff;
        }
        .fxtp2 {
            margin-top: -59px !important;
        }
        .ffx1 {
            margin-top: 8px;
        }
    }
    .bg-5{
        height: 557px;

        .node:before {
            font-size: 40px;
            color: #fff;
        }
        .bottomIcon{
            position: relative;
            top: -194px;
            left: 60px;
            float: left;
        }
    }
    .bg-7{
        .fxtp4{
            margin-bottom: 100px;
            width: 100% !important;
        }
    }
    .mouseWiggle{
        display: none;
    }
    .fx8{
        margin-top: 22px;
    }
    .actions t{
        display: none;
    }
    .profile .innerPad{
        padding: 0 10px 0 10px;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 170px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 170px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    footer{
        display: none;
    }


}
/* ipad */
@media only screen 
and (min-device-width : 700px)  
and (max-device-width : 991px) {
    .bg-2 {
        height: 1370px;
    }
    .bg-3 {
        height: 640px;
    }
    .bg-5 {
        height: 677px;
    }
    .hBlcok img{
        margin: auto auto;
    }
    .inner-bg-4{
        background-repeat: no-repeat;
    }
    .bg-6{
        .upperText {
            padding: 60px !important;
        }
    }
    .bg-4 .inBlueWrap {
        margin-top: 0;
        height: 319px;
    }
    .features .cloud .txt {
        margin-top: 57px;
    }
    
    .cloudPlatfrom img{
        margin: auto auto;
    }
    .features .tech .techStack .bx{
        height: 225px;
    }
}
