<div class="videogular-container"  *ngIf="currentVideo">
  <!-- <p class="dateLabel float-right">{{currentVideo.videoId | date:'MM-dd-yyyy'}}</p>	 -->

   
  <vg-player class="player" (onPlayerReady)="onPlayerReady($event, currentVideo, tag)">

    <video [vgMedia]="media" #media id="current" preload="none" crossorigin class="videoPlayer" poster="{{currentVideo.thumbs.src}}"
      src="{{currentVideo.clips.src}}">
      <source src="{{currentVideo.clips.src}}" type="video/mp4">
    </video>


    <vg-controls>
      <vg-play-pause></vg-play-pause>

      <vg-scrub-bar [vgFor]="current">
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display [vgFor]="current" [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
      <span class="divider">/</span>
      <vg-time-display [vgFor]="current" [vgProperty]="'total'" [vgFormat]="'mm:ss'"></vg-time-display>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <vg-overlay-play></vg-overlay-play>

  </vg-player>
</div>
