
//navbar
nav{
    padding-bottom: 29px;
}
@media (max-width: 992px) {
	.fl{
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.71) 0%, transparent 100%);
		z-index: 100000;
	}
}
.nav{
    font-size: 14px;
    padding-top: 3px;

}
.nav > .active > a {
    background: none !important;
    border-bottom: 1px dashed #555555;
    display: inline;
    padding-bottom: 20px;
    position: relative;
    top: 6px;
}

.navbar-brand {
    color: #fff !important;
    height: 70px;
    padding: 28px 15px;
    font-size: 26px;
    font-weight: 100;
    line-height: 20px;
    background-color: #333;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.navbar-light .navbar-brand:hover {
    background-color: #333;
}

.nav-item{
    margin-top: 13px;
    padding-right: 2px;
}

.profilePicM {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -17px;
}

.login {
    margin-top: 30px !important;
    margin-left: 19px;
    float: right !important;
    cursor: pointer;
}
.buyBtn{
    background-color: #333;
    color: #fff;
    margin-top: 19px;
    font-size: 14px;
    height: 33px;
    width: 53px;
    text-align: center;
    padding: 0;
}

.navbar-toggler{
    margin-top: 17px;
    cursor: pointer;
}
.navbar-toggler:focus{
    outline: none;
}
.nav-item{
    display: block;
    text-align: center;
}
.collapse{
      -webkit-transition: height .5s;
      transition: height .5s;
}

@media (max-width: 992px) {

	nav{
		width: 100%;
	};
    .navbar-brand{
        width: 97px;
		z-index: 100;
    }
    .bottomNav{
        background-color: #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 20px;
    }
    .nav{
		position: relative;
    	top: 13px;

		display: inherit !important;
		background-color: #fff;
		margin-top: -13px !important;
        .active a{
                padding: 20px 15px 4px 15px;
                border-bottom: 0;
                top: 0px;
                
        }
        .active a::before { 
            content: "● ";
        }
		.nav-item{
			padding-bottom: 34px;
			margin-top: 0;
		}
    }
	.nav:first-child{
		 padding-top: 90px;
	}
	.navbar-toggler{
		background-color: #fff;
		border-radius: 0;
		margin-left: 4px;
		padding: 5px 9px 5px 9px;
		margin-top: 14px;
	}
    .navbar{
        .show{
            //margin-bottom: -554px;
            z-index: 1;
            background-color: rgb(255, 255, 255);
        }
    }
	.darkOverlay {
		position: fixed;
		background-color: rgba(51,51,51,.72);
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 1;
	}
}