<div class="features">

  <div class="container-fluid p-0">
    <div class="box0">
      <div class="ttl">
        <h1 class="logo">dride
          <span>Zero</span>
        </h1>
        <h2 class="productSubTtl">World's Smallest Connected dashcam.</h2>
      </div>
    </div>


  </div>

  <div class="container-fluid">
    <div class="row box1">
      <div class="col-12 col-sm-6 order-2 order-sm-1 order-lg-1">
        <h3>SMART AND SLIM</h3>
        <p class="ctn">Dride Zero is only 4.9x1.5x0.6 inches, making it the smallest connected dashcam on the planet! Looks as big as a match box but has the power to save lives.</p>
      </div>
      <div class="col-12 col-sm-6 bgPic1 order-1 order-sm-2 order-lg-1"></div>
    </div>
  </div>


  <div class="box4 container-fluid">

    <div class="container">
      <div class="row">
		<div class="fFace">
			<img class="picAZero" src="../../../assets/images/zero/frontFaceZero.png" />
		</div>
        <ul class="bullets">
          <li *ngFor="let feature of featuresObj;let i = index">
			<span class="{{feature.icon}}"></span>
            <p>{{feature.title}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="box9 container-fluid">
	
		<div class="container">
		  <div class="row">
			<div class="col-12 col-md-6 text-center order-2 order-md-1">
				<img class="picAZero" src="../../../assets/images/zero/click2share.png" />

			</div>
			<div class="col-12 col-md-6 order-1 order-md-2">
					<h2>Click to Share</h2>
					<p>It's that simple, Seriously</p>
			</div>

		  </div>
		</div>
	  </div>

	  

  <div class="container bcontfx1">
    <div class="row box2">
      <div class="col-12">
        <div class="adjAngle">
          <div class="ax1">
            <img src="/assets/images/zero/zero-fits-all@2x-100.jpg" />
          </div>

		</div>
		<div class="wr1">
        	<h3 class="text-left">ONE DEVICE FITS ALL</h3>
        	<p class="text-left p-3 ctn">Dride Zero's adjustable angle easily adapts to fit on front or rear windshields of any vehicle, car, or truck.</p>
		</div>
	</div>
    </div>
  </div>


  <div class="container-fluid p-0">
    <div class="box3">
      <div class="container">
        <div class="c col-12">
          <h3 class="text-center">LOCATION AWARENESS</h3>
          <p class="p-3 ctn">Our winning combo of the Dride app’s location tracking feature blended with its ability to upload data to the Dride cloud allows you to generate a detailed map of your exact whereabouts within seconds. Dride’s crash sensors prompt auto upload of video footage upon impact so safety is always your focus; let our camera do the rest.</p>
        </div>
      </div>
      <div class="map">
        <div class="videoBubble">
          <app-player [currentVideo]="videoObj" [tag]="'Cloud'" [currentTime]="33"></app-player>
        </div>
      </div>



    </div>


  </div>


  <div class="container">
    <div class="row box6">
      <div class="col-12">
        <h2 class="text-center">Explore the Dride App</h2>
      </div>
      <div class="col-12 col-lg-6 preview text-center iPhoneXWrap">
		  <video width="" height="" autoplay loop playsinline [src]="'assets/videos/' + appActions[currentAppFeature].video + '.mp4'" type="video/mp4">
		  </video>
        <!-- <img src="../../../assets/images/zero/iPhonex@2x.png" /> -->
      </div>
      <div class="col-12 col-lg-6">
        <ul class="bullets">
          <li *ngFor="let action of appActions;let i = index" [ngClass]="{'active': i == currentAppFeature}" (click)="currentAppFeature = i">
			<span class="{{action.icon}}"></span>
            <p>{{action.title}}</p>
          </li>
        </ul>
        <p class="desc">
          {{appActions[currentAppFeature].desc}}
        </p>

        <div class="getDrideApp text-center">
          <a when-visible="animateElementIn" href="https://itunes.apple.com/us/app/dride/id1185398002?ls=1&mt=8" target="_BLANK">
            <img src="assets/images/ios.png" alt="app store" />
          </a>
          <a when-visible="animateElementIn" href="https://play.google.com/store/apps/details?id=io.dride" target="_BLANK">
            <img src="assets/images/android.png" alt="google play" />
          </a>
        </div>


      </div>
    </div>


  </div>

  <div class="container-fluid cloud p-0 box7">


    <div class="container icns">
      <div when-visible="animateElementIn" class="text-center">
        <div>
          <img class="img-fluid" src="assets/images/features/drideCloud.png" alt="cloud" />
          <p class="mttl1">Dride Cloud</p>
        </div>
      </div>
    </div>

    <div class="pic_3"></div>


    <div class="container cloudPlatfrom">

      <div class="row">
        <div class="col-lg-4 col-xs-12 txt">
          <p when-visible="animateElementIn">
			The Dride cloud helps and empowers our driving community with insights and interaction that can help you stay safe on the roads
		  </p>
          <p when-visible="animateElementIn">
			Our cloud’s convenient storage capacity provides a personal space to save driving history data, or the ideal environment to upload or report footage of dangerous drivers within minutes.			
		  </p>
          <div class="text-center mx-auto">
            <button routerLink="/cloud" type="button" class="btn btn-red mt-3 mb-5">Explore the Cloud</button>
          </div>
        </div>
        <div class="col-lg-8 col-xs-12" when-visible="animateElementIn">
          <img class="img-fluid" src="assets/images/features/pic4.png" alt="dride cloud demo" />
        </div>

      </div>

    </div>

  </div>

  <div class="container-fluid tech">

    <div class="container">

      <h2 when-visible="animateElementIn" class="text-center">Runs on <label>drideOS</label></h2>
	  <h3>Our open source operating system for dashcams</h3>

      <div class="forkUs" when-visible="animateElementIn">
        <img class="img-fluid" src="assets/images/features/github.svg" alt="github" />
        <div class="fork">
          <a href="https://github.com/dride/" target="_BLANK">FORK US</a>
        </div>
      </div>


    </div>

  </div>
  <div class="container-fluid subscribe">

    <div class="text-center preOrderFooter buy">

      <div *ngIf="preSubmit">
        <h3>Subscribe for updates</h3>


        <div class="row">

          <div class="mx-auto col-md-offset-3 col-md-6 col-xs-12">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
              <span class="input-group-btn">
                <button class="btn btn-default cFont" type="button" (click)="sendDetails(email)">Send</button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>

      <div *ngIf="!preSubmit" class="submitted">
        <h3>See you soon</h3>
        <img class="img-fluid" src="assets/images/thanks.svg" alt="kiss" />



      </div>


    </div>


  </div>


</div>

<simple-notifications></simple-notifications>
