
  

    <div class="container mx-auto about" [@introAnim]>
        <h2 class="mx-auto text-center">About Us</h2>
        <p  class="col-md-offset-1 col-md-10 text-left mx-auto">We’re a bunch of car fanatics who believe that the vehicles we are driving are unnecessarily primitive and downright dangerous! We’ve designed Dride to change that, and with it, the way we drive. Just as the time when no-one used seat belts rapidly faded we believe that the era of unintelligent cars should be a distant memory, and we are here to bring it about sooner than anyone expects.		</p>

        <p class="col-md-offset-1 col-md-10 mx-auto">Don't be a stranger: <u>hello@dride.io</u></p>



    </div>










