.about{
	min-height: calc(100vh - 280px);
	h2{
		margin-top: 100px;
		font-size: 50px;
	}
	p{
		font-size: 24px;
		margin-bottom: 100px;
		margin-top: 50px;
		text-align: center;
		font-weight: 100;
	}
}