<div ng-init="init()">

    <div class="container-fluid store greyBg">
        <div class="container">
                <div class="row col-md-12">
                    <div class="row product">
        	                <div class="i col-md-6">
        	                    <h2>dride<span>zero</span></h2>
        	                    <h3>World's smallest connected dashcam</h3>
        	                    <p class="price">$69</p>
        	                    <div class="divider"></div>
        	                    <a routerLink="/product/dride-zero" class="btn btn-buy">Pre Order</a>
        	                    <a routerLink="/features" class="learnMorePrime">Learn More</a>
        	                </div>
                            <div class="pb col-md-6 text-center">
                                <img class="img-fluid" src="assets/images/zero/storeMain.png" />
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container store">

            <div class="row productsGrid col-12 mx-auto">
                <div class="col-md-6 no-padding">
                    <div class="smallProduct promo-frame-left">
                        <div class="layer">
                            <h2>dride<span>Fleet</span></h2>
                            <h3>Telematics 2.0</h3>
                            <div class="divider"></div>
                            <a routerLink="/fleet">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="smallProduct promo-frame-right">
						<div class="corner-ribbon top-right red shadow">In Stock</div>
							
                        <div class="layer">
                            <h2>dride<span>kit</span></h2>
                            <h3>Build your own Dride Zero</h3>
                            <p class="price">$149</p>
                            <div class="divider"></div>
                            <a routerLink="/product/dride-kit" class="btn btn-buy-white">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <br>
</div>
<div ng-include="'views/sharedTemplates/footer.html'"></div>
