<div ng-init="init()">

    <div class="container-fluid store greyBg">
        <div class="container">
                <div class="row col-md-12">
                    <div class="row product">
        	                <div class="i col-md-6">
        	                    <h2>dride</h2>
        	                    <h3>Connected Dashcam With Safety Alerts & Apps</h3>
        	                    <p class="price">$149</p>
        	                    <div class="divider"></div>
        	                    <a routerLink="/product/dride" class="btn btn-buy">Pre Order</a>
        	                    <a routerLink="/features" class="learnMorePrime">Learn More</a>
        	                </div>
                            <div class="pb col-md-6">
                                <img class="img-fluid" src="assets/images/product/p{{isMobile}}.jpg" />
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container store">

            <div class="row productsGrid col-md-offset-1 col-md-10 mx-auto">
                <div class="col-md-6 no-padding">
                    <div class="smallProduct promo-frame-left">
                        <div class="layer">
                            <h2>dride<span>zero</span></h2>
                            <h3>World's smallest<br>connected dashcam.</h3>
                            <div class="divider"></div>
                            <a routerLink="/thread/all-about-dridezero____-KgpZv95NXtykQDFNYQ0">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="smallProduct promo-frame-right">
                        <div class="layer">
                            <h2>dride<span>kit</span></h2>
                            <h3>Build your own Dride</h3>
                            <p class="price">$399</p>
                            <div class="divider"></div>
                            <a routerLink="/product/dride-kit" class="btn btn-buy-white">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <br>
</div>
<div ng-include="'views/sharedTemplates/footer.html'"></div>
