<a class="post animBox row mx-auto" routerLink="/forum/{{fromSearch ? post.threadId : post.slug}}">
	<div *ngIf="post.promo">
		<img class="img-fluid" [src]="post.promo" />
	</div>
	<div *ngIf="!fromSearch" class="col-md-2 hidden-sm-down usr pad10 partRow1">
		<span class="cmntCount">{{post.cmntsCount}}</span>
		<span>Comments</span>
	</div>
	<div class="col-sm-12 padS40 partRow2" [ngClass]="{'col-md-10': !fromSearch}">
		<h2>
			{{post.title | truncate : 60 : "…"}}
			<span *ngFor="let label of post.labels | colorLabel" class="badge" [ngClass]="label.badgeColor">
				{{label.name}}
			</span>
			<span class="ago hidden-xs-down">{{post.lastUpdate | timeAgo}}</span>
		</h2>

		<p class="promoDesc" *ngIf="!fromSearch">
			{{post.description | truncate : 150 : "…" }}
		</p>
		<p class="promoDesc" *ngIf="fromSearch" markdown [data]="post.description">
		</p>
	</div>
</a>