.post {
	outline: none;
	background: #fff;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.09);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-bottom: 25px;
	background-color: #fff;
	cursor: pointer;
	width: 100%;
	h2 {
		text-transform: inherit;
		font-size: 15px;
		margin-top: 18px;
		margin-left: 3px;
		margin-bottom: 10px;
		line-height: 21px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.partRow2 {
		text-align: left;
	}
	.badge {
		margin-right: 10px;
	}
}
.cmntCount {
	display: block;
	font-size: 25px;
}
.ago {
	text-transform: initial;
	color: #8e8e8e;
	font-size: 13px;
	letter-spacing: 0px;
	transition: all 0.5s ease;
}
.promoDesc {
	span {
		display: inline;
		text-decoration: underline !important;
	}
}
.post:hover {
	//box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.partRow1 {
	border-right: 1px dashed #b3b3b3;
	margin-top: 14px;
	font-size: 14px;
	height: auto;
	margin-bottom: 14px;
}

.partRow3 {
	border-left: 1px dashed #b3b3b3;
	margin: 20px 0 20px 0;
}

.pad10 {
	padding: 10px;
}
.usr {
	text-align: center;
}
@media (max-width: 620px) {
	.thread {
		padding-top: 10px;
		h1 {
			font-size: 16px;
		}
	}
	.forum {
		padding-top: 10px;
		.padS40 {
			padding: 0 10px 0 10px;
		}
		.sorter li {
			font-size: 15px;
			padding-bottom: 21px;
		}
	}
}
