<div class="universal">

	<div class="container-fluid text-center b1">
		<h1>Dride <label>Universal</label></h1>
		<h2>Connect any dashcam to the cloud</h2>

		<img class="app" src="../assets/images/universal/app.png" />
	</div>


	<div class="step-1">
		<img src="../assets/images/universal/1st-step.png" />
	</div>
	<div class="clear"></div>
	<div class="container-fluid text-center b2">
		<h1>Event</h1>
		<h2>Advanced video editing features</h2>

		<img class="trim" src="../assets/images/universal/trim.png" />
		<div class="step-2">
			<img src="../assets/images/universal/2st-step.png" />
		</div>
	</div>
	<div class="container-fluid text-center b3">
		<h1>Upload</h1>
		<h2>Free Unlimited Cloud Storage</h2>

		<img src="../assets/images/universal/cloudScreen.png" />
	</div>
	<div class="container-fluid text-center b4">
		<h1>Share with the community</h1>
		<img src="../assets/images/universal/shareOptions.png" />
	</div>

	<div class="container-fluid text-center b5">
		<div class="dottedLine"></div>
		<h1>Live Preview</h1>
		<h2>Access your dashcam in realtime</h2>
		<img src="../assets/images/universal/live.png" />
	</div>

	<div class="container-fluid text-center b6">
		<h1>Search</h1>
		<h2>Find your desired video in seconds</h2>

		<img src="../assets/images/universal/search.png" />
	</div>

	<div class="container-fluid text-center b7">
		<h1>Support</h1>
		<h2>Find your desired video in seconds</h2>

		<img src="../assets/images/universal/support.png" />
	</div>
	<div class="container-fluid text-center b8">
		<h1>SDK</h1>


	</div>

</div>