<div class="cloudMain greyBg" [ngClass]="{'notFull': !isFull}">
	<div class="container-fluid p-0">


		<div class="row">
			<div class="col-md-12 p-0">


				<div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="true" (scrolled)="onScroll()"
				 [infiniteScrollDisabled]="!isFull" [immediateCheck]="true">

					<div class="col-md-offset-2 col-md-8 mx-auto">
						<h2 class="bVideosT">Best Videos Today</h2>
					</div>
					<div *ngIf="clips" class="phpt row">
						<div class="whiteBg p-0 animBox mx-auto" *ngFor="let currentVideo of clips;  index as key" [ngClass]="{'col-md-offset-2 col-md-8': isFull, 'halfPageCloud': !isFull}"
						 [@introAnim]>
							<span *ngIf="isFull" class="icon-toyCar-1 float-right"></span>
							<div class="box mainVid">
								<app-player [currentVideo]="currentVideo" [currentTime]="currentVideo.s" [tag]="!isFull ? 'HP': 'Cloud'"></app-player>
							</div>
							<div class="box">
								<div class="actionBar innerPad">
									<div class="views float-left">
										<p class="dateLabel float-left" *ngIf="currentVideo.dateUploaded">{{currentVideo.dateUploaded | date:'medium'}}</p>
										<p *ngIf="currentVideo.description" class="description float-left">{{currentVideo.description}}</p>
									</div>

									<div class="clear"></div>
								</div>

								<div class="views">
									<label>{{currentVideo?.views | number:0}} Views </label>
								</div>
								<div class="fr share float-right" (click)="fbShare(currentVideo.videoId)">
									<span class="icon-facebookMedium shareIcon"></span>
								</div>
								<div class="fr share float-right" (click)="twShare(currentVideo.videoId)">
									<span class="icon-twitterMedium shareIcon"></span>
								</div>
								<!-- <div class="share float-right" (click)="shareLink(currentVideo.videoId)">
									<label>Share</label>
									<span class="icon-share-outline"></span>
								</div> -->
								<a class="fr comments float-right" routerLink="/clip/{{currentVideo.videoId}}">
									<span class="icon-comment"></span>
									<label *ngIf="currentVideo.cmntsCount">{{currentVideo.cmntsCount}}</label>
								</a>

							</div>


						</div>
					</div>


				</div>


				<div class="text-center" *ngIf="busy">Loading data...</div>

			</div>
		</div>
	</div>

</div>