.modalUI{
    .txtHeadline{
        font-size: 25px;
		margin-top: 10px ;
		text-align: center !important;
    }
    h3{
        text-align: center;
		text-transform: inherit;
		padding: 30px 0 30px 0;
	}
	.c1{
		text-align: left;
		padding: 0 30px 0 30px;
		margin-bottom: -1px;
	}
    .form-group{
        margin: 30px;
    }
    textarea{
		padding: 30px !important;
		height: 47px !important;
    }
    input, textarea {
        background-color: #eaeaea !important;
        border: 0!important;
        box-shadow: none!important;
        padding: 12px 22px!important;
        font-size: 16px!important;
        height: initial!important;
        font-weight: 100!important;
    }

}
.loginBox, .modalUI {

    .modal-header {
        background-image: url('../../../../../assets/images/popUpHeader.svg');
        background-repeat: no-repeat;
        background-size: cover;
		background-position: center;
        height: 133px;
        width: 100.1%;
        color: #fff;
        border-bottom: 0 !important;
    }

    .modal-title {
        text-align: center;
        font-size: 28px;
        color: #F06060;
        margin-top: 10px ;
    }

    .modal-footer {
        color: #929292;
        font-size: 12px;
    }

    .modal-body {
        background-color: #fff;
        margin-top: 8px;
        margin-bottom: 40px;
    }


    input:focus,
    button:focus {
        border: 0;
        box-shadow: none;
        outline: none;
    }
    .closeModal{
        cursor: pointer;
    }
    .padWrap {
        padding: 0 15px;
    }
    .hint {
        font-size: 12px;
        color: #949494;
        position: relative;
        top: -26px;
    }
    h2 {
        text-transform: capitalize;
    }
    input {
        background-color: #eaeaea;
        border: 0;
        box-shadow: none;
        padding: 12px;
        font-size: 16px;
        height: initial;
        font-weight: 100;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sideIcon {
        float: left;
    }
    .socialButtons {
        width: 90%;
        margin: auto auto;
        margin-top: 16px;
        margin-bottom: 20px;
        background-color: #ECECEC;
        color: #808080;
        font-weight: 300;
        height: 45px;
        cursor: pointer;
    }
    .sideIcon {
        color: #fff;
        height: 45px;
        width: 45px;
        position: absolute;
        padding-top: 11px;
        left: 43px;
        margin-top: -13px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 24px;
    }
    .socialButtons .icon-facebook {
        background-color: #3B57A3;
    }
    .socialButtons .icon-google {
        background-color: #387AF2;
    }
    .btn {
        border: 0;
    }
    .icon-toyCar-1 {
        position: relative;
        top: 11px;
        left: 13px;
        color: #f06060;
    }
    .animatedCar {
        transition: 10s;
        left: 90%;
    }
    .f50 {
        font-size: 50px;
    }
    .tc{
        transition: all 0.5s linear;
    }
    .boxme.ng-hide {
      opacity: 0;
    }
    .boxme.ng-hide-remove-active {
        transition-delay: 0.4s;
    }
    .boxme.ng-hide-animate {
      position:absolute;
    }

    .modal-footer{
        justify-content: inherit;
    }
    .modal-title{
        margin: auto auto;
    }
    .closeModal{
        margin-top: -59px;
        color: #bfbfbf;
    }

}
