<div class="fleet">
  <div class="pic_1"></div>
  <div class="container">

    <div class="col-md-12 content text-center">
      <h1 class="logo">dride<span>Fleet</span></h1>
    </div>

  </div>
  <div class="container-fluid greyBg mct">
    <div class="container">

      <p class="col-md-12 content">
		Managing a fleet is tough. Although fleet management software exists,<br>Dride offers a new layer of interaction with the car and driver - a hardware & software solution that leverages computer vision to help you keep your fleet under control. Telematics boxes may be what you're used to, but Dride is what you need.</p>
    </div>
  </div>

  <div class="container-fluid pb-5">
    <div class="row mt2">

      <div class="row pb-5">
        <div class="col-md-6 col-12 picConteiner firBox">
          <img src="../../../assets/svg/road.svg" class="img-fluid fi">
        </div>
        <div class="col-md-6 col-12 text-left pl-md-5 p-6 textBlock x1">
          <h2>Real time view</h2>
          <p>Dride is able to track your fleet vehicles in real time, allowing you to see where the vehicle is and even follow a live stream from the car’s camera. Safety alerts are updated on the dashboard instantly.</p>
        </div>
	  </div>
	</div>
	<div class="container">
      <div class="row pb-5">
        <div class="col-md-6 col-12 text-left pl-md-5 p-4 textBlock">
          <h2>Driver Profile</h2>
          <p>By using computer vision algorithms, Dride can profile drivers and monitor their driving. We can alert you about speeding, distance keeping, and lane departure. This allows you to see how your drivers use their cars.</p>
        </div>
        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/hit.svg" class="img-fluid">
        </div>
      </div>
      <div class="row pb-5">

        <div class="col-md-6 col-12 picConteiner hidden-sm-down">
          <img src="../../../assets/svg/cars.svg" class="img-fluid pl-5">
        </div>
        <div class="col-md-6 col-12 text-left pl-md-5 p-4 textBlock">
          <h2>Tailored To Your Fleet</h2>
          <p>drideOS, the operation system that powers our devices, is both open-source and well-documented, so building custom features is a breeze. We offer a vast array of extensions, so if you need a custom feature or integration, let’s talk!</p>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-6 col-12 text-left pl-md-5 p-4 textBlock">
          <h2>Security & Privacy</h2>
          <p>We've implemented the industry’s most stringent security standards in order to keep your fleet's data safe and private.</p>
        </div>
        <div class="col-md-6 col-12 picConteiner">
          <img src="../../../assets/svg/security.svg" class="img-fluid mw">
        </div>
      </div>


    </div>
  </div>

  <div class="contact">

	<h3>Ready to talk? - Contact us today</h3>
	<h4>hello@dride.io</h4>


  </div>

</div>
