<div class="features" >
    <div class="pic_1 attachmentFixed"></div>
    <div class="container">
        <div>
            <div class="col-xs-12 content text-center">
                <h1 class="logo">dride</h1>
                <h2 class="slogen">Passenger Seat Driver</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid featuresList">
        <div class="text-center">
            <img class="modelGif img-fluid" src="assets/images/features/rotatingDride.gif" alt="rotating model of dride" />
        </div>
        <div class="container featuresList">
            <h2 when-visible="animateElementIn">One Device. Killer Features.</h2>
            <ul when-visible="animateElementIn" class="col-md-12 text-center">
                <li class="col-md-4">
                    <span class="icon-camera-full"></span>
                    <h3>Safety</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-cloud-full"></span>
                    <h3>Cloud</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-mic-full"></span>
                    <h3>Assistant</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-app-full"></span>
                    <h3>App</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-wifi-full"></span>
                    <h3>Connectivity</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-docs-full"></span>
                    <h3>SDK</h3>
                </li>
            </ul>
        </div>
    </div>

    <div class="container text-center whatWhy">
        <h2 when-visible="animateElementIn">Drivers of the world, unite.</h2>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10">We’re a bunch of car fanatics who believe that the vehicles we are driving are unnecessarily primitive and downright dangerous! We’ve designed Dride to change that, and with it, the way we drive. Just as the time when no-one used seat belts rapidly faded we believe that the era of unintelligent cars should be a distant memory, and we are here to bring it about sooner than anyone expects. </p>
    </div>

    <div class="pic_2 pic_1 attachmentFixed"></div>



    <div class="container-fluid p-0">
            <div class="assistant-stirp">
                <img src="assets/images/features/mic.svg" alt="mic"/>
            </div>
    </div>

    <div class="container assistant">
        <h2 when-visible="animateElementIn">Assistant</h2>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10 assistantTtl">Use Dride’s voice commands to manage your personal drive on the road. </p>

        <div class="row">
	        <div class="col-md-6" when-visible="animateElementIn">
	            <img src="assets/images/features/assistant.png" alt="dride apps"/>
	        </div>
	        <div class="col-md-6 actionsVoice">
	            <p when-visible="animateElementIn">"Take me home"</p>
	            <p when-visible="animateElementIn">"Send a text to mom letting her know that I will be home soon."</p>
	            <p when-visible="animateElementIn">"How’s the weather tomorrow?"</p>
	            <p when-visible="animateElementIn">"When is my next meeting?"</p>

	        </div>
        </div>
        <div class="col-md-12">
            <br>
        </div>
    </div>

    <div class="container-fluid cloud p-0">


        <div class="container icns">
            <div when-visible="animateElementIn" class="text-center">
                <div >
                    <img class="img-fluid" src="assets/images/features/drideCloud.png" alt="cloud" />
                    <p class="mttl1">Dride Cloud</p>
                </div>
            </div>
        </div>
            
        <div class="pic_1 pic_3"></div>


        <div class="container cloudPlatfrom">
            
        <div class="row">
            <div class="col-md-8 col-xs-12" when-visible="animateElementIn">
                <img class="img-fluid"  src="assets/images/features/pic4.png" alt="dride cloud demo"/>
            </div>

            <div class="col-md-4 col-xs-12 txt">
                <p when-visible="animateElementIn">The Dride cloud is built to help our driving community stay safe.</p> 
                <p when-visible="animateElementIn">The cloud gives you your own space to save your driving history and upload or report footage of dangerous drivers within minutes. </p>
            </div>
		</div>

        </div>

        <h2 when-visible="animateElementIn" class="text-center">Safer and more intelligent community on the road.</h2>


    </div>


    <div class="container indicators">
       
        <div class="row s1">
	    	<div class="col-md-6 hBlcok" when-visible="animateElementIn">
	    		<img class="img-fluid" src="assets/images/features/back.png" alt="back side of dride"/>
	    	</div>
	    	<div class="col-md-6 hBlcok hBlcokTxt">
	    		<h2 when-visible="animateElementIn">Back Face</h2>
	    		<p when-visible="animateElementIn" class="col-md-10">It’s extremely dangerous to interact with screens on the road which is why we created an indication ring which lights up when communicating with Dride drivers. It’s a simple and intuitive way to receive information on the roads while greatly decreasing distractions while driving.</p>
	    	</div>
    	</div>
        <div class="row">
	    	<div class="col-md-6 hBlcok hBlcokTxt">
	    		<h2 when-visible="animateElementIn">Front Face</h2>
	    		<p when-visible="animateElementIn" class="col-md-10">The front of the device has a soft light used to interact with the environment.</p>
	    	</div>
	    	<div class="col-md-6 hBlcok s2" when-visible="animateElementIn">
	    		<img class="img-fluid" src="assets/images/features/front.png" alt="back side of dride"/>
	    	</div>
    	</div>

     </div>

    <div class="container-fluid p-0">
            <div class="apps-stirp">
                <img src="assets/images/features/apps.svg" alt="mic"/>
            </div>
    </div>
   
    <div class="container apps">
        <h2 when-visible="animateElementIn">Apps</h2>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10">Dride seamlessly integrates with third-party  apps making your driving experience even better! With new apps built by our driving community, you are exposed to unique and exciting driving experiences. Anyone can build an app and you get to use them! Do more with safety while driving.</p>


        <div class="col-md-12 text-center" when-visible="animateElementIn">
            <img class="img-fluid" src="assets/images/features/appsScreen.png" alt="dride apps"/>
        </div>


        <div class="col-md-12">
            <br>
        </div>
    </div>


    <div class="container-fluid adas p-0">


            <h2 when-visible="animateElementIn">Keeping you safe. Always.</h2>
            <div class="videoWrapper">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/9Y5fFTuXkMM" frameborder="0" allowfullscreen></iframe>
			</div>
            

    </div>

    <div class="container text-center app">
        <h2 when-visible="animateElementIn" class="capitalize">Access. Control. Share.</h2>
        <div when-visible="animateElementIn">
            <img class="img-fluid" src="assets/images/features/app.png" alt="app"/>
        </div>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10">Our app provides you with your customizable account where you can discover new and exciting Dride apps designed by our Dride community. On our application, you can also upload your own driving videos, share with other Dride drivers, control your Dride and personalize it to your car.</p>
        
        <div class="getDrideApp text-center">
			<a when-visible="animateElementIn" href="https://itunes.apple.com/us/app/dride/id1185398002?ls=1&mt=8" target="_BLANK">
				<img src="assets/images/ios.png" alt="app store" />
			</a>
			<a when-visible="animateElementIn" href="https://play.google.com/store/apps/details?id=io.dride" target="_BLANK">
				<img src="assets/images/android.png" alt="google play" />
			</a>
		</div>


    </div>




    <div class="container-fluid tech">

        <div class="container">

            <h2 when-visible="animateElementIn" class="text-center">The Technology We Use & Love</h2>
        

            <div class="techStack">
                <div class="bx " when-visible="animateElementIn">
                    <img class="img-fluid" src="assets/images/features/openSource.png" alt="open Source"/>
                </div> 
                <div class="bx" when-visible="animateElementIn">
                    <img class="img-fluid" src="assets/images/features/nodejs.png" alt="node js"/>
                </div>
                <div class="bx" when-visible="animateElementIn">
                    <img class="img-fluid" src="assets/images/features/opencv.png" alt="openCv"/>
                </div>

            </div>

            <div class="forkUs" when-visible="animateElementIn">
                <img class="img-fluid" src="assets/images/features/github.svg" alt="github"/>
                <div class="fork">
                    <a href="https://github.com/dride/" target="_BLANK">FORK US</a>
                </div>
            </div>    


        </div>

    </div>

    <div class="container-fluid subscribe">

        <div class="text-center preOrderFooter buy">

            <div *ngIf="preSubmit">
                <h3>Subscribe for updates</h3>


                <div class="row">

                  <div class="mx-auto col-md-offset-3 col-md-6 col-xs-12">
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
                      <span class="input-group-btn">
                        <button class="btn btn-default cFont" type="button" (click)="sendDetails(email)">Send</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>

            <div *ngIf="!preSubmit" class="submitted">
                <h3>See you soon</h3>
                <img class="img-fluid" src="assets/images/thanks.svg" alt="kiss" />



            </div>


        </div>


    </div>




</div>







