.vh{
	min-height: 100vh;
}
.forum {
    padding-top: 1px;
    padding-bottom: 70px;
    .spacer25 {
        margin-bottom: 25px;
    }
    .post {
        background: #fff;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        margin-bottom: 25px;
        background-color: #fff;
        cursor: pointer;
        width: 100%;
        h2{
            text-transform: inherit;
            font-size: 15px;
            margin-top: 18px;
            margin-left: 3px;
            margin-bottom: 10px;
			line-height: 21px;
        }
		.partRow2{
			text-align: left;
		}
    }
    .recent {
        min-height: 500px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        border-radius: 4px;
    }
    .usr {
        text-align: center;
    }
    .profilePic {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .promoDesc span {
        display: inline;
        text-decoration: underline !important;
    }
    .post:hover {
        //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .pad50 {
        padding: 50px;
    }
    .pad10 {
        padding: 10px;
    }
    .padS20 {
        padding: 0 20px 0 20px;
    }
    .ask {
        width: 100%;
        height: 34px;
        font-size: 14px;
        font-family: Comfortaa;
		background-color: #333;
		color: #fff;
    }
    .sorter {
        list-style: none;
        padding-left: 0;
        li {
            font-size: 16px;
            float: left;
            margin-right: 20px;
            font-weight: 100;
            cursor: pointer;
        }
        .selected {
            font-weight: 600;
        }
    }
    .promoDesc {
        display: inherit;
        text-transform: initial;
        color: #909090;
        font-size: 14px;
        margin-left: 2px;
    }
    .readMore {
        color: #333;
        font-size: 25px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;
        span {
            font-size: 18px;
            color: #333333;
        }
        .readMore {
            display: block;
            font-size: 13px;
            padding-top: 3px;
        }
    }
    .partRow1 {
        border-right: 1px dashed #b3b3b3;
        margin-top: 14px;
        font-size: 14px;
        height: 80px;
    }
    .partRow3 {
        border-left: 1px dashed #b3b3b3;
        margin: 20px 0 20px 0;
    }
    .cmntCount {
        display: block;
        font-size: 25px;
    }
    .ago {
        text-transform: initial;
        color: #8E8E8E;
        font-size: 13px;
        letter-spacing: 0px;
        transition: all 0.5s ease;
    }
    .background-masker {
        background: #fff;
        position: absolute;
    }
    /* Every thing below this is just positioning */
    .background-masker.content-top,
    .background-masker.content-second-line,
    .background-masker.content-third-line,
    .background-masker.content-second-end,
    .background-masker.content-third-end,
    .background-masker.content-first-end {
        top: 40px;
        left: 0;
        right: 0;
        height: 6px;
    }
    .background-masker.content-first-end,
    .background-masker.content-second-end,
    .background-masker.content-third-end {
        width: auto;
        left: 90%;
        right: 0;
        top: 0px;
        height: 8px;
    }
    .background-masker.content-second-line {
        top: 8px;
    }
    .background-masker.content-second-end {
        left: 70%;
        top: 14px;
    }
    .background-masker.content-third-line {
        top: 22px;
    }
    .background-masker.content-third-end {
        left: 100%;
        top: 28px;
    }
	.loadersLines{
		width: 100%;
	}

    @keyframes placeHolderShimmer {
        0% {
            background-position: -468px 0
        }
        100% {
            background-position: 468px 0
        }
    }
    .animated-background {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
        height: 36px;
        position: relative;
    }
    .timeline-item {
        padding: 12px;
        margin: 0 auto;
        margin-bottom: 20px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        min-height: 63px;
    }
}


@media (max-width: 620px) {


    .thread{
        padding-top: 10px;
        h1{
            font-size: 16px;
        }
    }
    .forum{
        padding-top: 10px;
        .padS40{
            padding: 0 10px 0 10px;
        }
        .sorter li {
            font-size: 15px;
            padding-bottom: 21px;
        }
    }

}