<div class="container-fluid forum" [ngClass]="isFull ? 'greyBg vh': 'half'">
	<div class="container">
		<div class="clear spacer25"></div>
		<div class="row">
			<div class="searchRow" [ngClass]="showHits ? 'col-12' : 'col-10'" *ngIf="isFull">
				<!-- <ul class="sorter">
                <li class="selected">New</li>
                <li class="disabled">Trending</li>
                <li class="disabled">Most Viewed</li>
			</ul> -->

				<form>
					<div class="form-row align-items-center">
						<div class="col-12 pt0">
							<label class="sr-only" for="inlineFormInputGroupUsername">Search</label>
							<div class="input-group">
								<ais-instantsearch [config]="algoliaConfig">
									<ais-search-box placegolder="Search"></ais-search-box>
									<ais-hits [transformItems]="transformHits">
										<ng-template let-hits="hits" let-results="results">
											<div *ngIf="showHits">
												<img class="sba" src="assets/images/byAlgolia.svg" />
												<!-- no results message -->
												<p class="info" *ngIf="hits.length === 0">
													No results were found for:
													<b>{{results.query}}</b>.
												</p>

												<!-- hit template -->
												<div *ngFor="let hit of hits | hit2post">
													<app-thread-block [post]="hit" [fromSearch]="true" [@introAnim]></app-thread-block>
												</div>
											</div>
										</ng-template>
									</ais-hits>
									<ais-refinement-list attribute="body"></ais-refinement-list>

								</ais-instantsearch>
								<!-- <div class="input-group-prepend">
								<div class="input-group-text srchBtn">
									<span class="icon-search2"></span>
								</div>
							</div>
							<input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Search"> -->
							</div>
						</div>
					</div>
				</form>




			</div>
			<div class="col-lg-2 col-xs-12" *ngIf="isFull && !showHits">
				<button class="btn btn-dride-black ask" (click)="ask()">Ask A Question</button>
			</div>
		</div>
		<div class="clear spacer25"></div>
		<div class="col-md-12 p-0">
			<div *ngIf="!showHits" class="posts" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="!isFull"
			 (scrolled)="onScroll()">
				<app-thread-block [post]="post" *ngFor="let post of threads" [fromSearch]="false" [@introAnim] [hidden]="!post.description"></app-thread-block>

				<div *ngIf="!threads || !threads.length " class="loadersLines mx-auto">
					<div *ngFor="let i of [1,2,3,4]">
						<div class="timeline-wrapper">
							<div class="timeline-item">
								<div class="animated-background">
									<div class="background-masker content-first-end"></div>
									<div class="background-masker content-second-line"></div>
									<div class="background-masker content-second-end"></div>
									<div class="background-masker content-third-line"></div>
									<div class="background-masker content-third-end"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>