.uploadToCloud {

    #drop_zone {
        height: 100%;
        text-align: center;
        background-color: #fff;
        border-radius: 2px;
        padding: 90px;
		position: relative;
		top: 40px;

        h3 {
            font-size: 21px;
            text-transform: capitalize !important;
        }
    }
    #files {
        display: none;
    }
    .icon-upload {
        font-size: 125px;
        display: block;
        margin-top: 6%;
    }
	.loadBox{
		position: relative;
		top: 20px;
		margin-bottom: 44px;
	}
    .hoveredFile {
        background-color: rgba(255, 255, 255, 0.64);
        border: 2px dashed #989898;
    }
    .box {
        width: 100%;
        min-height: 100px;
        background-color: #fff;
        margin-top: 21px;
        border-radius: 2px;
    }
    .mb50 {
        margin-bottom: 50px;
    }
    .publishTtl {
        background-color: #333;
        height: 100px;
        border-radius: 2px;
        text-align: center;
        color: #fff;
        font-size: 30px;
        padding-top: 28px;
        font-weight: 100;
        cursor: pointer;
    }
    .progressPracent {
        padding: 30px 54px;
        font-size: 29px;
        float: right;
    }
    .progressCar {
        transition: 4s;
        background-color: #333;
        height: 2px !important;
        padding: 1px;
        position: relative;
        top: 80px;
		left: 58px;
    }
	.padlcart{
		width: 80%;
		float: left;
	}
    .icon-toyCar-1 {
        top: -29px !important;
        left: 11px;
        position: relative;
        font-size: 30px;
    }
    .detailsBox {
        .form-group {
			padding: 32px 66px 0;
			margin-bottom: -4px;
        }
        label {
            font-size: 18px;
            padding: 8px;
            padding-left: 0;
			padding-bottom: 0px;
			margin-bottom: 5px;
        }
        input:focus,
        button:focus {
            border: 0;
            box-shadow: none;
            outline: none;
        }
        input, textarea {
            background-color: #eaeaea;
            border: 0;
            box-shadow: none;
            padding: 12px;
            font-size: 16px;
            height: initial;
            font-weight: 100;
        }
    }
    .pad5 {
        padding: 7px;
        width: 100%;
    }
}
