<div class="container-fluid greyBg full-height" [ngClass]="{'full-height': !uploadStarted}">
  <div class="clearfix container" [ngClass]="{'h75': !uploadStarted}">




    <div class="col-md-12 uploadToCloud">

      <div [hidden]="uploadStarted">
        <div id="drop_zone" #dropZone (click)="openUploadBox()">
          <span class="icon-upload"><span class="path1"></span><span class="path2"></span></span>
          <h1>Upload your video</h1>
          <h3>Or drag and drop video files</h3>
        </div>
        <input type="file" id="files" name="files[]" />
      </div>

      <div [hidden]="!uploadStarted">

        <div class="loadBox box" *ngIf="progress < 100">

          <div class="col-xs-10 padlcart">
            <div class="progressCar" [ngStyle]="{'width.%': progress}">
              <span class="icon-toyCar-1 float-right"></span>
            </div>
          </div>


          <p class="col-xs-2 progressPracent">{{progress | number:0}}%</p>
        </div>

        <div class="loadBox box" *ngIf="progress == 100">
          <div class="col-xs-12 publishTtl" (click)="publishClip()">
            PUBLISH
          </div>



        </div>

        <div class="detailsBox box mb50">
          <div class="form-group ">
            <label class="mt30">License Plates:</label>
            <input type="text" class="form-control" placeholder="6LIS754, PAS58S, C4395DD" [(ngModel)]="plates">
          </div>
          <div class="form-group ">
            <label>Description:</label>
            <textarea class="form-control" placeholder="Tell us what happened" [(ngModel)]="description" elastic></textarea>
          </div>
          <div class="form-group " *ngIf="true">
            <label class="block">Location:</label>
            <iframe class="pad5 block" width="740" height="400" frameborder="0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAfDshH5P8j2TGnpRTcVIFvEwUe6LKEeEU
                                    &center=37.764742, -122.432631&zoom=17" allowfullscreen>
            </iframe>
          </div>
            <br>
            <br>
            <br>

        </div>



      </div>

    </div>


  </div>
</div>