.loginBox,
.modalUI {
  .modal-header {
    background-image: url('../../../../../assets/images/popUpHeader.svg');
    background-position-y: -17px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 133px;
    width: 100.1%;
    color: #fff;
    border-bottom: 0 !important;
  }
  .h200 {
    height: 200px;
  }
  .h275 {
    height: 275px;
  }
  .modal-title {
    text-align: center;
    font-size: 28px;
    color: #F06060;
    margin-top: 10px !important;
  }
  .modal-footer {
    color: #929292;
    font-size: 12px;
  }
  .modal-body {
    background-color: #fff;
    margin-top: 8px;
    margin-bottom: 40px;
  }
  h2 {
    margin-top: 19px;
  }
  input:focus,
  button:focus {
    border: 0;
    box-shadow: none;
    outline: none;
  }
  .padWrap {
    padding: 0 15px;
  }
  .hint {
    font-size: 12px;
    color: #949494;
    position: relative;
    top: -26px;
  }
  h2 {
    text-transform: capitalize;
  }
  input {
    background-color: #eaeaea;
    border: 0;
    box-shadow: none;
    padding: 12px;
    font-size: 16px;
    height: initial;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .socialButtons {
    width: 90%;
    margin: auto auto;
    margin-top: 16px;
    margin-bottom: 20px;
    background-color: #ECECEC;
    color: #808080;
    font-weight: 300;
    height: 45px;
    cursor: pointer;
    padding-top: 13px;
  }
  .sideIcon {
    color: #fff;
    height: 45px;
    width: 45px;
    padding-top: 11px;
    margin-top: -13px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 24px;
    display: block;
    float: left;
    margin-left: -16px;
  }
  .socialButtons .icon-facebook {
    background-color: #3B57A3;
  }
  .socialButtons .icon-google {
    background-color: #387AF2;
  }
  .iconInput {
    width: 90%;
    margin: auto auto;
    margin-bottom: 0;
    height: 56px;
  }
  .iconInput input {
    width: 90%;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 45px;
    padding-left: 18px;
    font-size: 14px;
    padding-top: 11px;
    margin: 0;
  }
  .iconInput input,
  .iconInput .sideIcon {
    background-color: #ECECEC;
  }
  .iconInput .sideIcon {
    left: inherit;
    border-right: 1px solid #fff;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 16px;
    color: #666666;
    font-size: 19px;
    margin-top: 0;
    margin-left: 3px;
  }
  .btn {
    border: 0;
  }
  .icon-toyCar-1 {
    position: relative;
    top: 11px;
    left: 13px;
    color: #f06060;
  }
  .animatedCar {
    transition: 10s;
    left: 90%;
  }
  .f50 {
    font-size: 27px;
  }
  .tc {
    transition: all 0.5s linear;
  }
  .boxme.ng-hide {
    opacity: 0;
  }
  .boxme.ng-hide-remove-active {
    transition-delay: 0.4s;
  }
  .boxme.ng-hide-animate {
    position: absolute;
  }
  .modal-footer {
    justify-content: inherit;
  }
  .modal-title {
    margin: auto auto;
  }
  .closeModal {
    margin-top: -67px;
    color: #fff;
    cursor: pointer;
  }
 
  .loginBox2 {
    background-color: #fff;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
  }
  .loginBox2 {
    -webkit-perspective: 800;
    position: relative;
    margin: 1px auto;
  }
  .mt40{
	margin-top: 41px;
  }
  .registerBox {
    background-color: #fff;
    width: 100%;
    height: 55px;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    border-top: 1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc;
	margin-top: -29px;
    margin-bottom: 70px;
  }
  .loginBtn{
	background-color: #333;
    color: #fff;
    font-size: 14px;
    height: 45px;
    width: 90%;
    margin: auto auto;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 596px) {
	.reg{
		.sideIcon{
			display: none !important;
		}
		.iconInput input {
			width: 100% !important;
			border-radius: 4px !important;
		}
	}
}
@media (max-width: 992px) {
  .f50 {
    font-size: 27px !important;
  }
}
