
<footer>
    <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <p class="cnt"> Copyright © Dride 2017. All right reserved. </p>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/dride.io/" target="_BLANK"> <span class="icon-facebook"></span> </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/drideHQ" target="_BLANK"> <span class="icon-twitter"></span> </a>
                    </li>
                    <li>
                        <a href="https://github.com/dride" target="_BLANK"> <span class="icon-github"></span> </a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</footer>



