<div class="upperText inWhiteWrap">
	<div class="col-md-offset-1 col-md-10">
	    <h1 class="text-left ftgps">Hackable, Connected dashcam.</h1>
	    <p>Dride is a dashcam and a service. It Includes API's for computer vision, connectivity, location and voice. Making the development of car apps a breeze.</p>
	</div>
</div>
<a href="documentation" class="btn btn-dride col-xs-offset-3 col-xs-6 btn-dride-black fxtp3">START BUILDING</a>



<div class="bottomIcon">
      <span class="icon-gps-full fullIc node" ></span>
</div>