<div class="loginBox askModal">

    <div class="modal-header">
        <p class="pull-right closeModal" ng-click="closeModal()">x</p>
        <h3 class="modal-title" ng-show="!switchToVarification">Ask A Question</h3>

    </div>
    <span class="icon-toyCar-1" ng-class="isLoaded ? 'animatedCar' : ''"></span>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" class="animate-show">
                <div class="col-md-12 tc" >



                    <div class="loginBox">
                        <div class="padWrap">

                            <h2 class="text-center">Title</h2>

                            <input class="form-control replyBox" type="text" ng-model="qTitle" placeholder="State a meaningfull title for your question."/>
                            <span class="hint">You will have plenty of space to describe your question in detail on the next screen</span>
                            <br>
                            <div class="text-center">
                                <button class="btn btn-dride-black btn-dride-center" ng-click="openThread(qTitle)">Continue</button>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer text-left">
    
     
    </div>

</div>