<div class="loginBox" ng-class="{'regBox': onWelcome}">

    <div class="modal-header">
        <p class="pull-right closeModal" ng-click="dismissModal()">x</p>
        <h3 class="modal-title" ng-show="!switchToVarification"><span class="f50 icon-cloud"></span></h3>

    </div>
    <span class="icon-toyCar-1" ng-class="isLoaded ? 'animatedCar' : ''" ng-show="!onWelcome"></span>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" class="animate-show">
                <div class="col-md-12 tc boxme" ng-show="!onWelcome">

                        <p ng-if="loginError" class="alert alert-warning">{{loginError}}</p>
                    <div class="loginBoxInner">

                        <h2 class="text-center">Social Login</h2>

                        <button class="btn btn-info btn-block socialButtons"  ng-click="connectWithFacebook()">
                             <span class="sideIcon icon-facebook"></span>
                             Login with Facebook
                         </button>
                        <button class="btn btn-info btn-block socialButtons"  ng-click="connectWithGoogle()">
                             <span class="sideIcon icon-google"></span>
                             Login with Google
                         </button>
                    </div>


                </div>


                <div class="col-md-12 tc boxme" ng-show="onWelcome">

                       
                    <div class="loginBoxInner text-center welcomeBox">

                        <img src="images/welcome.svg" alt="welcome to dride" />
                        <h2 class="text-center">Welcome to the community!</h2>
                        <p>We're thrilled to have you on board. Before we continue,<br> we'll have to check your privacy settings.</p>

                        <div class="privacy">
                            <div class="col-md-9 lbl1">Keep your activity anonymous</div>
                            <div class="col-md-3"> 
                                 <switch id="anonymous" name="anonymous" ng-model="anonymous" class="green"></switch>
                            </div>
                        </div>



                    </div>

                    <div class="text-center">
                        <button class="btn btn-dride-black btn-dride-center" ng-click="closeAfterWelcome()">Continue</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="modal-footer text-left" ng-show="!onWelcome">
     * We will never post anything on your behalf.
    </div>

</div>