<div class="modalUI" ng-init="init()">
    <div class="modal-header">
        <p class="pull-right closeModal" ng-click="dismissModal()">x</p>
        <p class="txtHeadline text-center">#whooho</p>
    </div>
    <span class="icon-toyCar-1 animatedCar"></span>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" class="animate-show">
<!--                 <div class="col-md-12 tc boxme">

                    <div class="col-md-12">

                        <div class="credit-card-box">
                            <div class="panel-body">
                                <form role="form" id="payment-form" method="POST">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="cardNumber">CARD NUMBER</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cardCVC">CV CODE</label>
                                                <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div> -->
                <h3>You're now in the queue, We'll contact you soon with an invite</h3>
                <p>Psst..want to skip the line? Help us noticing you by twitting about us</p>
                <div class="form-group ">
                    <textarea class="form-control" ng-model="shareTxt"></textarea>
                    <br>
                    <button class="btn btn-dride-black pull-right" ng-click="tweet()"><span class="icon-twitter"></span> Tweet</button>
<!--                     <button class="btn btn-dride-black pull-right"><span class="icon-facebook"></span> Share</button> -->
                </div>

            </div>
        </div>
    </div>
<!--     <div class="modal-footer text-left">
        <button class="btn btn-dride-black pull-right">OK</button>
    </div> -->
</div>
