<p class="pull-right closeModal modalClose" ng-click="closePreOrder()">x</p>

<div class="upperText preOrderTop">

    <div class="text-center preOrderBlock">
        <img class="img-responisve prod mtop0" src="images/product/1.png" alt="dride" />


        <h2>Coming Soon On</h2>
        <img class="img-responisve kickstarerLabel" src="images/kickstarter.svg" alt="soon on kickstarer" />

    </div>




</div>


<div class="text-center preOrderFooter text-center">

    <div ng-if="preSubmit">
        <h3>Subscribe for updates</h3>


        <div class="row ">

          <div class="col-xs-offset-3 col-xs-6">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email" ng-model="email">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="sendDetails()">Send</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>

    <div ng-if="!preSubmit" class="submitted">
        <h3>See you soon</h3>
        <img class="img-responisve" src="images/thanks.svg" alt="kiss" />



    </div>


</div>