<footer>
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Dride 2016. All right reserved. </p>
            <ul class="social pull-right">
                <li>
                    <a href="#"> <span class="icon-facebook"></span> </a>
                </li>
                <li>
                    <a href="#"> <span class="icon-twitter"></span> </a>
                </li>
                <li>
                    <a href="#"> <span class="icon-github"></span> </a>
                </li>
            </ul>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
