    <div class="header" ng-show="!hideNav">
      <div class="navbar navbar-default row"
       role="navigation"
       ng-class="haveSideBar ? 'navbar-fixed-top' : ''"

      >

          <button type="button"  data-target="#navbarCollapse" ng-click="toggleOverlay()" class="navbar-toggle pull-right z10">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

         <div class="navbar-header col-xs-2 z10">
                   <button type="button"  class="orderNow" ng-show="{{mobile}}">Order</button>
                   <a class="navbar-brand" ng-click="goToView('1')" href="/">dride</a>
          </div>

          <div id="navbarCollapse" class="navbar-collapse animated fadeIn {{!collapse ? 'collapse' : ''}}" >
            <ul class="nav navbar-nav col-md-10">
              <li ng-class="currentPage=='/' ? 'active' : ''"><a href="/">Home</a></li>
              <li ng-class="currentPage=='/features' ? 'active' : ''"><a ng-href="/features">Features</a></li>
              <li ng-class="currentPage=='/documentation' ? 'active' : ''"><a ng-href="/documentation">Docs</a></li>
<!--               <li ng-class="currentPage=='/cloud' ? 'active' : ''"><a ng-href="/cloud">Cloud</a></li> -->
              <li ng-if="needForum()"><a ng-href="/forum">Forum</a></li>
              <li ng-class="currentPage=='/about' ? 'active' : ''"><a ng-href="/about">About</a></li>
              <li><a target="_BLANK" href="https://twitter.com/drideHQ"><span class="icon-twitter"></span></a></li>
              <li><a target="_BLANK" href="https://github.com/dride"><span class="icon-github"></span></a></li>

              <li ng-if="firebaseUser" class="login" class="login" ng-click="logOut()">
                  <img class="profilePicM" src="{{firebaseUser.photoURL}}" alt="{{firebaseUser.displayName}}"/>
              </li>

<!-- 
              <li class="col-xs-4 pull-right" ng-if="currentPage=='/forum' || currentPage=='/thread'">

                  <form role="form">

                      <div class="form-group">
                          <div class="input-group">
                              <input class="form-control" type="text" name="search" placeholder="Search" required/>
                              <span class="input-group-btn">
                                      <button class="btn btn-dride-black" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                              </span>
                              </span>
                          </div>
                      </div>
                  </form>
              </li>
 -->




              <li class="preOrder" ><a ng-click="initBuyProcess()">Buy</a></li>

              <li ng-if="!firebaseUser" class="login" class="login" ng-click="login()">Login</li>



            </ul>
            <div class="clear"></div>
          </div>

      </div>


    </div>

<div class="clear"></div>