<div class="container-fluid thread">
	<div class="container">
		

		<div class="clear spacer25"></div>

		<div class="col-md-12">
			
			<h1 class="text-center">{{(currentThread | async)?.title}}</h1>

			<div class="chatBox" *ngIf="(currentThread | async)" [@introAnim]>

			    <div *ngFor="let node of conversation | async; index as key"  class="animBox" >
			        <div class="bubble">
			            <div class="auther float-left pl">
			                <img src="{{node.pic}}" alt="{{node.auther}}" />
			            </div>
			            <a class="bold" routerLink="/profile/{{node.autherId}}">@{{node.auther}}</a>
			            <div class="bdy" markdown-to-html [data]="node.body" ></div>
			            <div class="ago">{{node.timestamp | timeAgo}}</div>
			        </div>
			        <div class="connectorLine" *ngIf="conversationPreviusIsMine[key]"></div>
			    </div>

			</div>

			<div class="wrapReplyBox" *ngIf="(currentThread | async)" [@introAnim]>
				<span class="bold">@{{firebaseUser ? firebaseUser.displayName : ''}}</span>
				<textarea (keydown.control.Enter)="send()" class="form-control replyBox" [(ngModel)]="replyBox" type="text" name="reply" placeholder="What's on your mind?"></textarea>
				<button class="btn btn-dride-black sendBtn float-right" (click)="send()">Send</button>
				<label class="hint">Use ctrl+Enter to post | markdown enabled</label>
			</div>


		</div>



	</div>


</div>
