<div class="upperText inBlueWrap col-xs-12 roundTop">
    <h1 class="text-left ffx1">Safety Alerts</h1>
    <p>Dride is equipped with an advanced driving assistant (ADAS), lane departure warning, and forward collision warning. Dride’s camera analyzes and detects any information that you should be aware of on the road ahead to provide you with a safer drive.</p>
</div>
<a href="/features" class="btn btn-dride col-xs-offset-3 col-xs-6 btn-dride-white btn-dride-flatTop fxtp2">LEARN MORE</a>


<video-bg video-id="video.id"></video-bg>

<!-- <div class="bottomIcon">
    <span class="icon-camera-full fullIc node"></span>
</div>
 -->