<div class="upperText inBlueWrap col-xs-12 roundTop">
    <h1 class="text-left ffx1">Safety Alerts</h1>
    <p>Dride is equipped with an advanced driver assistant (ADAS), Including lane departure warning and forward collision warning. dride uses a mono camera to capture the road then analyze the pixels with computer vision and provide a soft voice alerts when needed.</p>
</div>
<button class="btn btn-dride col-xs-offset-3 col-xs-6 btn-dride-white btn-dride-flatTop fxtp2">START BUILDING</button>


<video-bg video-id="video.id"></video-bg>

<div class="bottomIcon">
    <span class="icon-camera-full fullIc node"></span>
</div>
