<div class="row full-height cloudBox" ng-if="!isMobile">
	

	<div class="col-md-6 col-xs-12 brick txtBrick">
	    <div class="txtBrick-inner">
	        <span class="icon-cloud redCloud"></span>
	        <h2 class="text-left">
	        	Dride Cloud
	        </h2>
	        <p>The Dride cloud is build to help our community stay safe</p>
	    </div>
	</div>

	<div class="col-md-6 col-xs-12 brick bg_cloud_1"></div>

	<div class="col-md-6 col-xs-12 brick bg_cloud_2"></div>
	<div class="col-md-6 col-xs-12 brick txtBrick">
		<div class="txtBrick-inner">
			<h2 class="text-left"></h2>
			<p>The cloud gives you your own space to save your driving history and upload or report footage of dangerous drivers withing minutes</p>
			<a href="/profile/Jx7Ocxzdhmc3c4WrwSyxXp90cUM2/1482909005" class="btn btn-dride col-md-offset-1 col-md-10 btn-dride-white" ng-class="{'btn-block' : isMobile}">EXPLORE THE CLOUD</a>
		</div>
	</div>

</div>


<!-- Ugly hack to make the order correct on mobile : Fix when you have time -->
<div class="row full-height cloudBox" ng-if="isMobile">
	

	<div class="col-md-6 col-xs-12 brick bg_cloud_1"></div>
	<div class="col-md-6 col-xs-12 brick txtBrick">
	    <div class="txtBrick-inner">
	        <span class="icon-cloud redCloud"></span>
	        <h2 class="text-left">
	        	<label class="">Dride Cloud</label>
	        </h2>
	        <p>The Dride cloud is build to help our community stay safe</p>
	    </div>
	</div>


	<div class="col-md-6 col-xs-12 brick bg_cloud_2"></div>
	<div class="col-md-6 col-xs-12 brick txtBrick">
		<div class="txtBrick-inner">
			<h2 class="text-left"></h2>
			<p>The cloud gives you your own space to save your driving history and upload or report footage of dangerous drivers withing minutes</p>
			<a href="/profile/Jx7Ocxzdhmc3c4WrwSyxXp90cUM2/1482909005" class="btn btn-dride col-md-offset-1 col-md-10 btn-dride-white" ng-class="{'btn-block' : isMobile}">EXPLORE THE CLOUD</a>
		</div>
	</div>

</div>


<div class="bottomIcon black">
    <span class="icon-mic-full fullIc node"></span>
</div>
