
      <div class="upperText">
        <h1 class="text-left">Docs & Documentation </h1>
		<p>Our main goal at Dride is to create a community of car & technology lovers. This is why we're created the <a href="/docs">docs</a> to be simple and powerful.</p>
		<p>Developing for dride is easy as developing a Node.js module, deploying is as simple as publishing to NPM. You get all the cool API's available right from the dride module.</p>

		<h2>Ready to get started?</h2>
		<code>
		npm install -g dride<br>
		mkdir dride-project<br>
		cd dride-project<br>
		dride start yourProjectName
		</code>
		<p>To deploy your package simply use</p>
		<code>
		dride publish
		</code>
		<h2>A list of available API's</h2>
		<ul>
			<li>Video capture</li>
			<li>Voice commands & alerts</li>
			<li>Microphone</li>
			<li>Road vision</li>
			<li>GPS</li>
		</ul>

		<p>We cant wait to see what will you build.</p>

        <div class="btn btn-dride col-md-12 fxtp4">
        	<a href="/documentation">START BUILDING</a>
        </div>

      </div>


      <div class="bottomIcon">
              <span class="icon-docs-full fullIc node dot6" ></span>
      </div>