<div class="miniDocs">
    <div class="upperText">
        <h1 class="text-left">Documentation </h1>
        <p>Developing for dride is easy as developing a Node.js module, deploying is as simple as publishing to NPM.</p>
        <h2>Ready to build a new app?</h2>

		<div class="outer">

		        <ul class="apisBox">
		            <li class="col-md-4 col-xs-12 text-center featureBox" ng-repeat="node in sideNav" ng-if="node.hp">
		                <a ng-href="c/{{node.url}}">
		                    <span class="{{node.icon}}"></span>
		                    <div class="desc">
		                        <p ng-class="node.url=='getting_started' ? 'mmffx1' : '' ">
		                        	<b>{{node.ttl}}</b>
		                        </p>
		                    </div>
		                </a>
		            </li>
		        </ul>
		</div>
        <div class="clear"></div>
        <div class="btn btn-dride col-md-12 fxtp4">
            <a href="/documentation">START BUILDING</a>
        </div>

    </div>
    <div class="bottomIcon">
        <span class="icon-docs-full fullIc node dot6"></span>
    </div>
</div>
