<div class="col-md-12 wrapTopMenu">
    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>
</div>
<div class="features" >
    <div class="pic_1"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 content text-center">
                <h1 class="logo">dride</h1>
                <h2 class="slogen">Passenger Seat Driver</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid featuresList">
        <div class="row text-center">
            <img class="modelGif img-responsive" src="images/features/rotatingDride.gif" alt="rotating model of dride" />
        </div>
        <div class="container featuresList">
            <h2 when-visible="animateElementIn">One Device. Killer Features.</h2>
            <ul when-visible="animateElementIn" class="col-md-12 text-center">
                <li class="col-md-4">
                    <span class="icon-camera-full"></span>
                    <h3>Safety</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-cloud-full"></span>
                    <h3>Cloud</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-mic-full"></span>
                    <h3>Assistant</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-app-full"></span>
                    <h3>App</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-wifi-full"></span>
                    <h3>Connectivity</h3>
                </li>
                <li class="col-md-4">
                    <span class="icon-docs-full"></span>
                    <h3>SDK</h3>
                </li>
            </ul>
        </div>
    </div>

    <div class="container text-center whatWhy">
        <h2 when-visible="animateElementIn">Drivers of the world, unite.</h2>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10">We’re a bunch of car fanatics who believe that the vehicles we are driving are unnecessarily primitive and downright dangerous! We’ve designed Dride to change that, and with it, the way we drive. Just as the time when no-one used seat belts rapidly faded we believe that the era of unintelligent cars should be a distant memory, and we are here to bring it about sooner than anyone expects. </p>
    </div>

    <div class="pic_2 pic_1"></div>



    <div class="container-fluid">
            <div class="assistant-stirp">
                <img src="images/features/mic.svg" alt="mic"/>
            </div>
    </div>

    <div class="container assistant">
        <h2 when-visible="animateElementIn">Assistant</h2>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10">Use your voice to ask the assistant of your choice whatever you need.</p>


        <div class="col-md-6" when-visible="animateElementIn">
            <img src="images/features/assistant.png" alt="dride apps"/>
        </div>
        <div class="col-md-6">
            <p when-visible="animateElementIn">"Take me home"</p>
            <p when-visible="animateElementIn">"Send a text to mom I will be home soon."</p>
            <p when-visible="animateElementIn">"How’s the weather tomorrow?"</p>

        </div>

        <div class="col-md-12">
            <br>
        </div>
    </div>

    <div class="container-fluid cloud">


        <div class="container icns">
            <div when-visible="animateElementIn" class="text-center">
                <div >
                    <img src="images/features/drideCloud.png" alt="cloud" />
                    <p class="mttl1">Dride Cloud</p>
                </div>
            </div>
        </div>
            
        <div class="pic_1 pic_3"></div>


        <div class="container cloudPlatfrom">
            

            <div class="col-md-8 col-xs-12" when-visible="animateElementIn">
                <img class="img-responsive"  src="images/features/pic4.png" alt="dride cloud demo"/>
            </div>

            <div class="col-md-4 col-xs-12 txt">
                <p when-visible="animateElementIn">The Dride cloud is built to help our driving community stay safe.</p> 
                <p when-visible="animateElementIn">The cloud gives you your own space to save your driving history and upload or report footage of dangerous drivers within minutes. </p>
            </div>


        </div>

        <h2 when-visible="animateElementIn" class="text-center">Keeping your community safe.</h2>


    </div>


    <div class="container indicators">
       

    	<div class="col-md-6 hBlcok" when-visible="animateElementIn">
    		<img class="img-responsive" src="images/features/back.png" alt="back side of dride"/>
    	</div>
    	<div class="col-md-6 hBlcok hBlcokTxt">
    		<h2 when-visible="animateElementIn">INDICATOR RING</h2>
    		<p when-visible="animateElementIn" class="col-md-10">While driving you cant interact with screens or small icons, The interaction have to be simpler, That why we've created the indicator ring, A simple and intuitive way to get information without getting distracted.</p>
    	</div>

    	<div class="col-md-6 hBlcok hBlcokTxt">
    		<h2 when-visible="animateElementIn">FRONT INDICATOR</h2>
    		<p when-visible="animateElementIn" class="col-md-10">The front indicator is soft light placed in the front of your car aimed to interact with the environment, Blink when you are approaching too fast, Alert when you forgot a child in the car.</p>
    	</div>
    	<div class="col-md-6 hBlcok" when-visible="animateElementIn">
    		<img class="img-responsive" src="images/features/front.png" alt="back side of dride"/>
    	</div>


     </div>

    <div class="container-fluid">
            <div class="apps-stirp">
                <img src="images/features/apps.svg" alt="mic"/>
            </div>
    </div>
   
    <div class="container apps">
        <h2 when-visible="animateElementIn">Apps</h2>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10">Dride apps are unique actions created by our community, They can control every aspect of your device from navigation to the personal assistant you use.</p>


        <div class="col-md-12 text-center" when-visible="animateElementIn">
            <img class="img-responsive" src="images/features/appsScreen.png" alt="dride apps"/>
        </div>


        <div class="col-md-12">
            <br>
        </div>
    </div>


    <div class="container-fluid adas">


            <h2 when-visible="animateElementIn">Keeping you safe. Always.</h2>
            <div class="videoWrapper">
			    <!-- Copy & Pasted from YouTube -->
                <video-bg video-id="video.id"></video-bg>

<!-- 			    <iframe width="854" height="480" src="https://www.youtube.com/embed/F-GzkYJyKpI" frameborder="0" allowfullscreen></iframe> -->
			</div>
            

    </div>

    <div class="container text-center app">
        <h2 when-visible="animateElementIn" class="capitalize">Access. Control. Share.</h2>
        <div when-visible="animateElementIn">
            <img class="img-responsive" src="images/features/app.png" alt="app"/>
        </div>
        <p when-visible="animateElementIn" class="col-md-offset-1 col-md-10">Our app provides you with your customizable account where you can discover new and exciting Dride apps designed by our Dride community. On our application, you can also upload your own driving videos, share with other Dride drivers, control your Dride and personalize it to your car.</p>
        
        <div class="getDrideApp text-center">
			<a when-visible="animateElementIn" href="https://itunes.apple.com/us/app/dride/id1185398002?ls=1&mt=8" target="_BLANK">
				<img src="images/ios.png" alt="app store" />
			</a>
			<a when-visible="animateElementIn" href="https://play.google.com/store/apps/details?id=io.dride" target="_BLANK">
				<img src="images/android.png" alt="google play" />
			</a>
		</div>


    </div>




    <div class="container-fluid tech">

        <div class="container">

            <h2 when-visible="animateElementIn" class="text-center">Technology developers know & love</h2>
        

            <div class="techStack">
                <div class="bx " when-visible="animateElementIn">
                    <img class="img-responsive" src="images/features/openSource.png" alt="open Source"/>
                </div> 
                <div class="bx" when-visible="animateElementIn">
                    <img class="img-responsive" src="images/features/nodejs.png" alt="node js"/>
                </div>
                <div class="bx" when-visible="animateElementIn">
                    <img class="img-responsive" src="images/features/opencv.png" alt="openCv"/>
                </div>

            </div>

            <div class="forkUs" when-visible="animateElementIn">
                <img class="img-responsive" src="images/features/github.svg" alt="github"/>
                <div class="fork">
                    <a href="https://github.com/dride/" target="_BLANK">FORK US</a>
                </div>
            </div>    


        </div>

    </div>

    <div class="container-fluid subscribe">

        <div class="text-center preOrderFooter buy">

            <div ng-if="preSubmit">
                <h3>Subscribe for updates</h3>


                <div class="row ">

                  <div class="col-md-offset-3 col-md-6 col-xs-12">
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Email" ng-model="email">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="sendDetails(email)">Send</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>

            <div ng-if="!preSubmit" class="submitted">
                <h3>See you soon</h3>
                <img class="img-responisve" src="images/thanks.svg" alt="kiss" />



            </div>


        </div>


    </div>





</div>
<!-- header -->
<div ng-include="'views/sharedTemplates/footer.html'"></div>









