<div class="col-md-12 wrapTopMenu">
    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>
</div>
<div class="features">
    <div class="pic_1"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 content text-center">
                <h1 class="logo">dride</h1>
                <h2 class="slogen">Passenger Seat Driver</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid featuresList">
        <div class="row text-center">
            <img class="modelGif" src="images/features/rotatingDride.gif" alt="rotating model of dride" />
        </div>
        <div class="container featuresList">
            <h2>One Device, Killer Features.</h2>
            <ul class="col-md-12 text-center">
                <li class="col-md-4">
                    <span class="icon-camera-full"></span>
                    <p>Safety Alerts</p>
                </li>
                <li class="col-md-4">
                    <span class="icon-cloud-full"></span>
                    <p>Cloud</p>
                </li>
                <li class="col-md-4">
                    <span class="icon-mic-full"></span>
                    <p>Assistant</p>
                </li>
                <li class="col-md-4">
                    <span class="icon-app-full"></span>
                    <p>App</p>
                </li>
                <li class="col-md-4">
                    <span class="icon-wifi-full"></span>
                    <p>Connectivity</p>
                </li>
                <li class="col-md-4">
                    <span class="icon-docs-full"></span>
                    <p>SDK</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="container text-center whatWhy">
        <h2>What & Why</h2>
        <p class="col-md-offset-1 col-md-10">We’re a bunch of car fanatics who believe that the vehicles we are driving are unnecessarily primitive and downright dangerous! We’ve designed Dride to change that, and with it, the way we drive. Just as the time when no-one used seat belts rapidly faded we believe that the era of unintelligent cars should be a distant memory, and we are here to bring it about sooner than anyone expects. </p>
    </div>

    <div class="pic_2 pic_1"></div>

    <div class="container indicators">
       

    	<div class="col-md-6 hBlcok">
    		<img class="img-responsive" src="images/features/back.png" alt="back side of dride"/>
    	</div>
    	<div class="col-md-6 hBlcok">
    		<h2>INDICATOR RING</h2>
    		<p>While driving you cant interact with screens or small icons, The interaction have to be simpler, That why we've created the indicator ring, A simple and intuitive way to get information without getting distracted.</p>
    	</div>

    	<div class="col-md-6 hBlcok">
    		<h2>FRON INDICATOR</h2>
    		<p>The front indicator is a way for your car to interact with the environment, Blink when you are approaching too fast, Alert when you forgot a child in the car.</p>
    	</div>
    	<div class="col-md-6 hBlcok">
    		<img class="img-responsive" src="images/features/front.png" alt="back side of dride"/>
    	</div>


     </div>


    <div class="container-fluid adas">


            <h2>Keeping you safe. Always.</h2>
            <div class="videoWrapper">
			    <!-- Copy & Pasted from YouTube -->
			    <iframe width="854" height="480" src="https://www.youtube.com/embed/F-GzkYJyKpI" frameborder="0" allowfullscreen></iframe>
			</div>
            

    </div>

    <div class="container text-center app">
        <h2 class="capitalize">Access. Control. Share</h2>
        <img class="img-responsive" src="images/features/app.png" alt="app"/>
        <p class="col-md-offset-1 col-md-10">Our app provides you with your customizable account where you can discover new and exciting Dride apps designed by our Dride community. On our application, you can also upload your own driving videos, share with other Dride drivers, control your Dride and personalize it to your car.</p>
        
        <div class="getDrideApp text-center">
			<a href="https://itunes.apple.com/us/app/dride/id1185398002?ls=1&mt=8" target="_BLANK">
				<img src="images/ios.png" alt="app store" />
			</a>
			<a href="https://play.google.com/store/apps/details?id=io.dride" target="_BLANK">
				<img src="images/android.png" alt="google play" />
			</a>
		</div>


    </div>





    <br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- header -->
<div ng-include="'views/sharedTemplates/footer.html'"></div>









