<div class="col-md-12 wrapTopMenu">
    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>
</div>
<div class="container-fluid forum" ng-init="initForum()">
    <div class="container">
        <div class="clear spacer25"></div>
        <div class="col-md-8 col-xs-12">
            <ul class="sorter">
                <li class="selected">New</li>
                <li class="disabled">Trending</li>
                <li class="disabled">Most Viewed</li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-12 pull-right">
            <button class="btn btn-dride-black ask" ng-click="ask()">Ask A Question</button>
        </div>
        <div class="clear spacer25"></div>
        <div class="col-md-12">
            <div class="posts">
                <div class="post" ng-repeat="post in threads | reverse" ng-click="goTo('thread/' + post.slug)">
                    <div class="col-md-2 hidden-xs usr pad10 partRow1" ng-href="thread/{{post.slug}}">
                        <span class="cmntCount">{{post.cmntsCount}}</span>
                        <span>Comments</span>
                    </div>
                    <div class="col-md-8 col-xs-12 padS40 partRow2" ng-href="thread/{{post.slug}}">
                        <h2>
							<a ng-href="thread/{{post.slug}}">
								{{post.title}}
							</a>
							<span class="ago hidden-xs">{{post.lastUpdate | timeAgo}}</span>
						</h2>
                        <p class="promoDesc" >
                            {{post.description | cut:true:200:' ...'}}
                        </p>
                    </div>
                    <div class="col-md-2 hidden-xs readMore partRow3" ng-href="thread/{{post.slug}}">
                        <span class="icon-moreArrow"></span>
                        <span class="readMore">Read More</span>
                    </div>
                </div>
                <div ng-if="!threads.length" ng-repeat="i in [1,2,3,4]">
                    <div class="timeline-wrapper">
                        <div class="timeline-item">
                            <div class="animated-background">
                                <div class="background-masker content-first-end"></div>
                                <div class="background-masker content-second-line"></div>
                                <div class="background-masker content-second-end"></div>
                                <div class="background-masker content-third-line"></div>
                                <div class="background-masker content-third-end"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!threads.length" ng-repeat="i in [1,2,3,4]">
    <div class="timeline-wrapper">
        <div class="timeline-item">
            <div class="animated-background">
                <div class="background-masker content-first-end"></div>
                <div class="background-masker content-second-line"></div>
                <div class="background-masker content-second-end"></div>
                <div class="background-masker content-third-line"></div>
                <div class="background-masker content-third-end"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<!-- footer -->
<div ng-include="'views/sharedTemplates/footer.html'"></div>
