<div class="col-md-12 wrapTopMenu">
    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>
    
</div>

<div id="wrapper" >

	<div class="docs" id="page-content-wrapper">

	        <!-- dev menu -->
	        <div class="sideMenu" id="sidebar-wrapper">
	            <div ng-include="'views/sharedTemplates/devVanMenu.html'"></div>
	        </div>


			<div class="contaier">
			    <div class="row">
			        <div class="col-md-12 content" ng-include="'views/content/'+pageTtl+'.html'">
			        </div>
			    </div>
			</div>

</div>

	<!-- header -->
	<div ng-include="'views/sharedTemplates/footer.html'"></div>





