<div class="col-md-6 halfPage" ng-init="drawIconsAroundTheD()" ng-mouse-wheel-down="goToView(displayCard+1, false)" ng-mouse-wheel-up="goToView(displayCard-1, false)" >


    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>


    <!-- big D part -->
    <div class="row text-center {{'color-' + displayCard}} hidden-xs hidden-sm">
           <div class="menu circle-container icon-bigD" >
              
              <span ng-click="goToView('7')" class="iW dot6" ng-mouseover="show[7] = true" ng-mouseleave="show[7] = false">
                <span class="icon-docs node pull-right" ng-class="displayCard==7 ? 'active-7 icon-docs-full': 'icon-docs'"></span>
                <label class="labelNear" ng-show="displayCard==7 || show[7]">SDK</label>
              </span>
              <span ng-click="goToView('6')" class="iW dot5"  ng-mouseover="show[6] = true" ng-mouseleave="show[6] = false">
                <span class="icon-app node pull-right " ng-class="displayCard==6 ? 'active-6 icon-app-full': 'dicon-app'"></span>
                <label class="labelNear" ng-show="displayCard==6 || show[6]">App</label>
              </span>
              <span ng-click="goToView('5')" class="iW dot4"  ng-mouseover="show[5] = true" ng-mouseleave="show[5] = false">
                <span class="icon-wifi node pull-right" ng-class="displayCard==5 ? 'active-5 icon-wifi-full': 'icon-wifi'"></span>
                <label class="labelNear" ng-show="displayCard==5 || show[5]">Connected</label>
              </span>
              <span ng-click="goToView('4')" class="iW dot3"  ng-mouseover="show[4] = true" ng-mouseleave="show[4] = false">
                <span class="icon-camera node pull-right" ng-class="displayCard==4 ? 'active-4 icon-camera-full': 'icon-camera'"></span>
                <label class="labelNear" ng-show="displayCard==4 || show[4]">Safty</label>
              </span>
              <span ng-click="goToView('3')" class="iW dot2"  ng-mouseover="show[3] = true" ng-mouseleave="show[3] = false">
                <span class="icon-mic node pull-right" ng-class="displayCard==3 ? 'active-3 icon-mic-full': 'icon-mic'"></span>
                <label class="labelNear" ng-show="displayCard==3 || show[3]">Virtual Assistant</label>
              </span>
              <span ng-click="goToView('2')" class="iW dot1"  ng-mouseover="show[2] = true" ng-mouseleave="show[2] = false">
                <span class="icon-cloud node pull-right" ng-class="displayCard==2 ? 'active-2 icon-cloud-full': 'icon-cloud'"></span>
                <label class="labelNear" ng-show="displayCard==2 || show[2]">Cloud</label>
              </span>
              <div class="innerLogo" ng-click="goToView('1')">dride</div>
          </div>

   </div>




</div>






<!-- the screens are controlled from main.js -->
<div class="card-container" ng-mouse-wheel-down="goToView(displayCard+1, false)" ng-mouse-wheel-up="goToView(displayCard-1, false)" >


    <div ng-repeat="curretnView in views  track by $index " class="card col-md-6 col-xs-12 bg bg-{{$index+1}}" ng-if="displayCard==$index+1 || isMobile" ng-class="{'toLeft': toLeft, 'toRight': toRight}">
        <div class="full-height" ng-include=" 'views/'+curretnView+'.html' "></div>
    </div>


</div>


  <div class="preOrderBg col-md-6 col-xs-12 bg bg-9 animated" ng-class="!showPreOrder ? 'slideOutDown' : 'slideInUp'" ng-show="showPreOrder">
      <div class="full-height" ng-include=" 'views/modals/preOrder.html' "></div>
  </div>


 <!-- pre load bg images -->
 <div  class="hpPreOrder" ng-include="'views/sharedTemplates/preLoanImages.html'"></div>
