<div class="col-md-6" ng-init="drawIconsAroundTheD()">


    <!-- header -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">

          <div class="navbar-header">



            <a class="navbar-brand" ng-click="goToView('1')">dride</a>
          </div>

          <div >

            <ul class="nav navbar-nav col-xs-9">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/blog">Blog</a></li>
              <li><a target="_BLANK" href="https://github.com/drideio">GitHub</a></li>
              <li class="pull-right"><a class="preOrder" ng-href="#/preOrder">Pre-Order</a></li>
            </ul>
          </div>

      </div>
    </div>

    <!-- big D part -->
    <div class="row text-center {{'color-' + displayCard}}">
           <div class="menu circle-container icon-bigD" >
              
              <span ng-click="goToView('6')" class="icon-docs node dot6" ng-class="displayCard==6 ? 'active-6 icon-docs-full fullIc': 'icon-docs'"></span>
              <span ng-click="goToView('5')" class="icon-app node dot5" ng-class="displayCard==5 ? 'active-5 icon-app-full fullIc': 'dicon-app'"></span>
              <span ng-click="goToView('4')" class="icon-wifi node dot4" ng-class="displayCard==4 ? 'active-4 icon-wifi-full fullIc': 'icon-wifi'"></span>
              <span ng-click="goToView('3')" class="icon-camera node dot3" ng-class="displayCard==3 ? 'active-3 icon-camera-full fullIc': 'icon-camera'"></span>
              <span ng-click="goToView('2')" class="icon-mic node dot2" ng-class="displayCard==2 ? 'active-2 icon-mic-full fullIc': 'icon-mic'"></span>
              <span ng-click="goToView('1')" class="icon-gps node dot1" ng-class="displayCard==1 ? 'active-1 icon-gps-full fullIc': 'icon-gps'"></span>
              <div class="innerLogo">dride</div>
          </div>

   </div>





</div>







<div class="card-container" ng-switch="displayCard">


  <div class="card col-md-6 bg bg-1" ng-switch-when="1" ng-class="{'toLeft': toLeft, 'toRight': toRight}">
      <div class="full-height" ng-include=" 'views/gps.html' "></div>
  </div>

  <div class="card col-md-6 bg bg-2" ng-switch-when="2" ng-class="{'toLeft': toLeft, 'toRight': toRight}">
      <div class="full-height" ng-include=" 'views/mic.html' "></div>
  </div>

  <div class="card col-md-6 bg bg-3" ng-switch-when="3" ng-class="{'toLeft': toLeft, 'toRight': toRight}">
      <div class="full-height" ng-include=" 'views/camera.html' "></div>
  </div>

  <div class="card col-md-6 bg bg-4" ng-switch-when="4" ng-class="{'toLeft': toLeft, 'toRight': toRight}">
      <div class="full-height" ng-include=" 'views/wifi.html' "></div>
  </div>

  <div class="card col-md-6 bg bg-5" ng-switch-when="5" ng-class="{'toLeft': toLeft, 'toRight': toRight}">
      <div class="full-height" ng-include=" 'views/app.html' "></div>
  </div>

  <div class="card col-md-6 bg bg-6" ng-switch-when="6" ng-class="{'toLeft': toLeft, 'toRight': toRight}">
      <div class="full-height" ng-include=" 'views/docs.html' "></div>
  </div>


</div>
