<div class="upperText inWhiteWrap micWrap">
	<div class="col-md-12">
	    <h1 class="text-center ftgps">Hands Free</h1>
	    <p class="text-left">In addition to Alexa, Dride has custom designed features that will allow you to interact with your phone. You can have Dride read and write your text messages, emails, navigate you to your destination so that you can keep your eyes off your phone and on the road!</p>
	</div>
	
	<a href="/features" class="btn btn-dride col-xs-offset-3 col-xs-6 btn-dride-black fxtp3">LEARN MORE</a>


</div>



<div class="bottomIcon">
      <span class="icon-gps-full fullIc node" ></span>
</div>