<div class="row full-height">
	

	<div class="col-md-6 col-xs-12 brick txtBrick">
	    <div class="txtBrick-inner">
	        <h2 class="text-left">Talk to me</h2>
	        <p>Dride is equipped with a microphone. Take advantage of it by building apps that relays on vocie commands.</p>
	    </div>
	</div>

	<div class="col-md-6 col-xs-12 brick bg_mic_1"></div>

	<div class="col-md-6 col-xs-12 brick bg_mic_2"></div>
	<div class="col-md-6 col-xs-12 brick txtBrick">
		<div class="txtBrick-inner">
			<h2 class="text-left">Great sound</h2>
			<p>No need to read, Dride will read aloud incoming messages and alert you from hazards on the road.</p>
			<button class="btn btn-dride col-md-offset-1 col-md-10 btn-dride-black ">START BUILDING</button>
		</div>
	</div>

</div>



<div class="bottomIcon black">
    <span class="icon-mic-full fullIc node"></span>
</div>
