<div class="row full-height">
	

	<div class="col-md-6 brick txtBrick">
		<h2 class="text-left">dasdasdas</h2>
		<p>Ipsum is not simply random text. It has roots in a piece of classical Latin literature from making it over.</p>
	</div>
	<div class="col-md-6 brick bg_mic_1"></div>

	<div class="col-md-6 brick bg_mic_2"></div>
	<div class="col-md-6 brick txtBrick">
		<h2 class="text-left">dasdasfds34534das</h2>
		<p>Ipsum is not simply random text. It has roots in a piece of classical Latin literature from making it over.</p>
		<button class="btn btn-dride col-md-12 btn-dride-black margin-auto">START BUILDING</button>
	</div>

</div>



<div class="bottomIcon black">
    <span class="icon-mic node"></span>
</div>
