<div class="product">
	<div class="col-md-12 wrapTopMenu">
	    <!-- header -->
	    <div ng-include="'views/sharedTemplates/header.html'"></div>
	</div>
	<div class="container-fluid greyBg">
	    <div class="container">
	        <div class="col-md-12">
	            <div class="row productHeader">
	                <div class="i col-md-6 info">
	                    <h2>dride</h2>
	                    <h3>Connected Dashcam With Safety Alerts & Apps</h3>
	                    <p class="price">$149</p>
	                    <div class="divider"></div>
	                    <a ng-click="purchase()" class="btn btn-buy">Buy Now</a>
	                </div>
	                <div class="col-md-6 gallery">
	                    <img class="img-responsive" src="images/product/render.1.png" alt="dride" />
	                </div>
	            </div>
	            <div class="clear"></div>
	        </div>
	    </div>
	</div>
	<div class="container specs">
	    <h2>Product Information</h2>
	    <div class="row">
	        <div class="col-md-2">Overview</div>
	        <div class="col-md-10">AirPods will forever change the way you use headphones. Whenever you pull your AirPods out of the charging case, they instantly turn on and connect to your iPhone, Apple Watch, iPad, or Mac.(1) Audio automatically plays as soon as you put them in your ears and pauses when you take them out. To adjust the volume, change the song, make a call, or even get directions, just double-tap to activate Siri.</div>
	    </div>
	    <div class="row">
	        <div class="col-md-2">Highlights</div>
	        <div class="col-md-10">Designed by Apple
	            <br> Automatically on, automatically connected
	            <br> One-tap setup for all your Apple devices(1)
	            <br> Quick access to Siri with a double-tap
	            <br> More than 24-hour battery life with Charging Case(3)
	            <br> Charges quickly in the case
	            <br> Rich, high-quality audio and voice
	            <br> Seamless switching between devices
	            <br>
	            <br>
	            <br> Bluetooth
	            <br> Wireless
	            <br> Weight
	            <br> AirPods (each): 0.14 ounces (4 g)
	            <br> Charging Case: 1.34 ounces (38 g)
	            <br> Dimensions
	            <br> AirPods (each): 0.65 by 0.71 by 1.59 inches (16.5 by 18.0 by 40.5 mm)
	            <br> Charging Case: 1.74 by 0.84 by 2.11 inches (44.3 by 21.3 by 53.5 mm)
	            <br> Connections
	            <br> AirPods: Bluetooth
	            <br> Charging Case: Lightning connector
	            <br> AirPods Sensors (each):
	            <br> Dual beam-forming microphones
	            <br> Dual optical sensors
	            <br> Motion-detecting accelerometer
	            <br> Speech-detecting accelerometer
	            <br> Power and Battery
	            <br> AirPods with Charging Case: More than 24 hours listening time,(3) up to 11 hours talk time(6)
	            <br> AirPods (single charge): Up to 5 hours listening time,(2) Up to 2 hours talk time(5)
	            <br> 15 minutes in the case equals 3 hours listening time(4) or over an hour of talk time(7)
	        </div>
	    </div>
	    <br>
	</div>
</div>