<div class="product" ng-init="init()">
	<div class="col-md-12 wrapTopMenu">
	    <!-- header -->
	    <div ng-include="'views/sharedTemplates/header.html'"></div>
	</div>
	<div class="container-fluid greyBg" ng-show="data">
	    <div class="container productHead">
	        <div class="col-md-12">
	            <div class="row productHeader animBox">
	                <div class="i col-md-6 info">
	                    <h2>{{data.key}}</h2>
	                    <h3>{{data.title}}</h3>
	                    <p class="price">${{data.price}}</p>
	                    <div class="divider"></div>
	                    <a ng-click="purchase()" class="btn btn-buy">Buy Now</a>
	                </div>
	                <div class="col-md-6 gallery">
	                    <img class="productMain img-responsive" src="{{mainPic}}" alt="dride" />
	                    <ul class="productPics">
	                    	<li ng-repeat="(key,i) in data.images">
	                    		<img ng-click="updateMainPicture(key)" class="img-responsive" src="{{i.url}}" alt="dride" />
	                    	</li>


	                    </ul>
	                </div>
	            </div>
	            <div class="clear"></div>
	        </div>
	    </div>
	</div>
	<div class="container specs">
	    <h2>Product Information</h2>
	    <div class="productInfo animBox" ng-repeat="node in data.productInfo">
		    <div class="row">
		        <div class="col-md-2 upper">{{node.title}}</div>
		        <div class="col-md-10 txtFnt">{{node.body}}</div>
		    </div>
	    </div>
	    <br>
	</div>
</div>

<div ng-include="'views/sharedTemplates/footer.html'"></div>
