

<div class="text-center">
    <h1 class="productTtl">Meet dride.</h1>
    <h2 class="productSubTtl">Passenger Seat Driver.</h2>
    <img class="img-responisve prod" src="images/product/1.png" alt="dride" />
</div>


<button class="btn btn-dride col-xs-offset-4 col-xs-4 btn-dride-black preOrderBtn">PRE ORDER</button>

<button class="btn btn-dride col-xs-offset-4 col-xs-4 btn-dride-black clearBtn">Learn More</button>
<div class="bottomIcon">
    <span class="icon-mouse fullIc node mouseWiggle"></span>
</div>
