<div class="col-md-12">


    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>

    
</div>
<div class="profile" ng-init="initProfile()">
    <div class="container-fluid">
        <div class="col-md-12 no-padding">
            <div class="headerBg">
                <div class="gradBg">
                    <div class="container">
                        <div class="profilePic">
                            <img src="images/profile/10.jpg" />
                            <p>Yossi Neiman
                                <span> 450 pt </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid greyBg">
        <div class="col-md-12 no-padding">
            <div class="clearfix container">
                <div class="row">

                	<!-- video player -->
                    <div class="col-md-8">
                    	<div class="box">

                        <div class="videogular-container">
                            <videogular vg-theme="config.theme.url">
                                <vg-media vg-src="config.sources" vg-native-controls="false" >
                                </vg-media>

                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>

                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }} / {{totalTime | date:'mm:ss':'+0000'}}</vg-time-display>

                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>

                                <vg-overlay-play></vg-overlay-play>
                                <vg-poster vg-url='config.plugins.poster'></vg-poster>

                            </videogular>
                        </div>


	                    </div>
	                    <div class="box innerPad">
	                    		
	                    		<div class="actionBar">
	                    				<div class="views pull-left">{{currentVideo.views | number:0}} Views</div>
	                    				<ul class="pull-right actions">
	                    					<li ng-click="likeClip()"><span class="icon-like"></span> Like</li>
	                    					<li><span class="icon-share"></span> Share</li>
	                    					<li ng-click="editClip()"><span class="icon-edit"></span> Edit</li>
	                    				</ul>
	                    				<div class="clear"></div>
	                    		</div>


                                <div class="desc">
                                    <p><b>License Plate: </b> ...</p>
                                    <p><b>Description: </b> ...</p>
                                    <p class="dateLabel">{{videoId*1000 | date:'medium'}}</p>
                                </div>

                                <div class="clear"></div>


	                    </div>
	                    <div class="box">
	                    		
                                <iframe
                                  class="pad5"
                                  width="740"
                                  height="470"
                                  frameborder="0" 
                                  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAfDshH5P8j2TGnpRTcVIFvEwUe6LKEeEU
                                    &center=31.979805, 34.778177&zoom=17" allowfullscreen>
                                </iframe>
	                    </div>	                    
                    </div>


                    <div class="col-md-4">
                    	
                            <div ng-repeat="(daysKey, clipsInDay) in orderedClips" >
                             <p class="dvdrOfClips">{{preatifyDate(daysKey)  | date:'MMM d' }}</p>

                                <div ng-repeat="(key, clip) in clipsInDay" class="box moreClips">
                                    
                                    <a ng-href="profile/{{uid}}/{{key}}">
                                        <img class="img-responsive" src="{{clip.thumbs.src}}" />
                                    </a>

                                </div>
                            </div>

<!--                             <p class="dvdrOfClips">Feb 4</p>

                             <div ng-repeat="clip in [1,2,3,4]" class="box moreClips">
                                
                                <img class="img-responsive" src="images/profile/1.png" />

                            </div> -->

                            

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>








