<div class="col-md-12 wrapTopMenu">

    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>
    
</div>


<div class="profile full-height-footer-profile" ng-init="initProfile()">
    <div class="container-fluid">
        <div class="col-md-12 no-padding">
            <div class="headerBg">
                <div class="gradBg">
                    <div class="container">
                        <div class="profilePic">
                            <img src="{{opData.pic}}" />
                            <p>{{opData.name}}
                               <!-- TROPHYS HERE -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid greyBg" ng-if="!userHaveNoVideos">
        <div class="col-md-12 no-padding">
            <div class="clearfix container">
                <div class="row">

                	<!-- video player -->
                    <div class="col-md-8">
                    	<div class="box mainVid">

                        <div class="videogular-container">
                            <videogular vg-theme="config.theme.url">
                                <vg-media vg-src="config.sources" vg-native-controls="false" vg-preload="'none'">
                                </vg-media>

                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>

                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }} / {{totalTime | date:'mm:ss':'+0000'}}</vg-time-display>

                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>

                                <vg-overlay-play></vg-overlay-play>
                                <vg-poster vg-url='config.plugins.poster'></vg-poster>

                            </videogular>
                        </div>


	                    </div>
	                    <div class="box innerPad">
	                    		
	                    		<div class="actionBar">
                                        <ul class="pull-right actions">
                                            <li ng-click="fbShare(uid, videoId)"><span class="icon-facebookMedium shareIcon"></span></li>
                                            <li ng-click="twShare(uid, videoId)"><span class="icon-twitterMedium shareIcon"></span></li>
                                            <li ng-click="removeClip(uid, videoId)"><span class="icon-trash-can" alt="remove clip"></span></li>
                                        </ul>
                                        <div class="views pull-left">
                                            <label>{{currentVideo.views | number:0}} Views </label>
                                            &nbsp;&nbsp;&nbsp; 
                                            <label ng-click="commentFoucs()">{{currentVideo.cmntsCount | number:0}} Comments</label>
                                        </div>
	                    				<div class="clear"></div>
	                    		</div>


                                <div class="desc">
                                    <p><b>License Plate: </b> {{currentVideo.plates}}</p>
                                    <p><b>Description: </b> {{currentVideo.description}}</p>
                                    <p class="dateLabel">{{videoId*1000 | date:'medium'}}</p>
                                </div>

                                <div class="clear"></div>


	                    </div>

                                <div class="box">
                                        
                                        <div class="cmntsBox innerPad">
                                            <div ng-repeat="(key, node) in comments track by $index" class="listItem animBox">
                                                <div class="bubble">
                                                    <div class="auther pull-left pl">
                                                        <img src="{{node.pic}}" alt="{{node.auther}}" />
                                                    </div>
                                                    <div class="ago">{{node.timestamp | timeAgo}}</div>
                                                    <a class="bold" href="profile/{{node.autherId}}">@{{node.auther}}</a>
                                                    <div class="bdy" ng-bind-html2="node.body | markdown">{{node.body}}</div>

                                                </div>
                                                <div class="connectorLine" ng-if="conversationPreviusIsMine[key]"></div> <!--@#@#@#-->
                                            </div>
                                                <p ng-if="!hasComments(currentVideo.comments)" class="firstToCmnt">Be the first to comment</p>
                                                <p ng-if="hasMoreToLoad()" class="moreCmnts" ng-click="loadMoreComments(videoId)">Load More Comments</p>
                                        </div>
                                        <div class="postBox">
                                            <div class="wrapReplyBox">
                                                <textarea id="replyBox" ctrl-enter="sendComment()" class="form-control replyBox" elastic ng-model="replyBox" type="text" name="reply" placeholder="What's on your mind?" ></textarea>
                                                <button class="btn btn-dride-black sendBtn pull-right" ng-click="sendComment(r)">Send</button>
                                            </div>
                                        </div>


                                        <div class="clear"></div>


                                </div>


	                    <div class="box" ng-if="map.path">
	 
                             <ui-gmap-google-map class="pad5" center="map.center" zoom="map.zoom" path="map.path">

                                    <ui-gmap-polyline path="map.path" stroke="map.stroke" visible='true'
                                                        geodesic='true' fit="false" editable="false" draggable="false" >
                                    </ui-gmap-polyline>

                             </ui-gmap-google-map>

                   		
	                    </div>	                    
                    </div>


                    <div class="col-md-4">
                    	
                            <div ng-repeat="(daysKey, clipsInDay) in orderedClips" ng-if="clipsInDay">
                             <p class="dvdrOfClips">{{preatifyDate(daysKey)  | date:'MMM d' }}</p>

                                <div ng-repeat="(key, clip) in clipsInDay" class="box moreClips">
                                    
                                    <a ng-href="profile/{{uid}}/{{key}}">
                                        <img class="img-responsive" src="{{clip.thumbs.src}}" />
                                    </a>

                                </div>
                            </div>
                           

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid greyBg full-height" ng-if="userHaveNoVideos">
        <div class="col-md-12 no-padding">
            <div class="clearfix container">
                <div class="row">
                    <h3 class="noVideos">This user doesn't have any videos yet..</h3>
                </div>
            </div>
        </div>
    </div>




</div>


<div ng-include="'views/sharedTemplates/footer.html'"></div>







