<div class="col-md-6">


    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>

    
</div>
<div class="profile">
    <div class="container-fluid">
        <div class="col-md-12 no-padding">
            <div class="headerBg">
                <div class="gradBg">
                    <div class="container">
                        <div class="profilePic">
                            <img src="images/profile/10.jpg" />
                            <p>Yossi Neiman
                                <span> 450 pt </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid greyBg">
        <div class="col-md-12 no-padding">
            <div class="clearfix container">
                <div class="row">

                	<!-- video player -->
                    <div class="col-md-8">
                    	<div class="box">
	                   		<video id="videoPLayer" width="100%" height="100%" controls class="videoPlayer" poster="images/profile/1.png">
				                <source src="images/profile/1459721366.h264.mp4" type="video/mp4" />
				            </video>
	                    </div>
	                    <div class="box">
	                    		

	                    		<div class="actionBar">
	                    				<div class="views pull-left">1,452</div>
	                    				<ul class="pull-right actions">
	                    					<li>xx</li>
	                    					<li>xx</li>
	                    					<li>xx</li>
	                    				</ul>
	                    				<div class="clear"></div>
	                    		</div>








	                    </div>
	                    <div class="box">
	                    		<img class="img-responsive pad5" src="images/profile/map.png" />
	                    </div>	                    
                    </div>


                    <div class="col-md-4 box">
                    	



                    </div>


                </div>
            </div>
        </div>
    </div>

</div>








