<div class="greyBg">
    <div class="col-md-12 wrapTopMenu">
        <!-- header -->
        <div ng-include="'views/sharedTemplates/header.html'"></div>
    </div>
    <div class="container store" ng-init="init()">
        <div class="col-md-12">


        	<div class="row product">
	        	<div class="i col-md-6">
	        		
	        		<h2>dride</h2>
	        		<h3>Connected Dashcam With Safety Alerts & Apps</h3>
	        		<p class="price">$149</p>

	        		<div class="divider"></div>
	        		<a href="product/dride" class="btn btn-buy">Pre Order</a><br><br>
	        		<a href="features">Learn More</a>
	        	</div>
	        	<div class="pb col-md-6">
					<img class="img-responsive" src="images/product/p1.png" />	        		
	        	</div>
        	</div>


        	<div class="row productsGrid">
	        	<div class="col-md-6 no-padding">
	        		<div class="smallProduct promo-frame-left">
	        		    <div class="layer">

			        		<h2>dride <span>zero</span></h2>
			        		<h3>World's smallest connected dashcam.</h3>
							<div class="divider"></div>
			        		<a href="product/zero">Learn More</a>

  						</div>
	        		</div>
	        	</div>
	        	<div class="col-md-6 no-padding">
	        		<div class="smallProduct promo-frame-right">
	        		    <div class="layer">

			        		<h2>dride KIT</h2>
			        		<h3>Build your own Dride</h3>
			        		<p class="price">$99</p>
							<div class="divider"></div>
			        		<a href="product/dride-kit" class="btn btn-buy-white">Buy Now</a>

  						</div>
	        		</div>
	        	</div>

        	</div>





        </div>
        <div class="clear"></div>
    </div>

</div>

<div ng-include="'views/sharedTemplates/footer.html'"></div>