<div class="col-md-12 wrapTopMenu">
    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>
    
</div>
	

<div class="container-fluid thread" ng-init="initThread()">
	<div class="container">
		

		<div class="clear spacer25"></div>

		<div class="col-md-12">
			

			<h1 class="text-center">{{currentThread.title}}</h1>

			<div class="chatBox">

			    <div ng-repeat="(key, node) in conversation">
			        <div class="bubble">
			            <div class="auther pull-left pl">
			                <img src="{{node.pic}}" alt="{{node.auther}}" />
			            </div>
			            <a class="bold" href="profile/{{node.autherId}}">@{{node.auther}}</a>
			            <div class="bdy" ng-bind-html="node.body | markdown"></div>
			            <div class="ago">{{node.timestamp | timeAgo}}</div>
			        </div>
			        <div class="connectorLine" ng-if="conversationPreviusIsMine[key]"></div>
			    </div>

			</div>

			<div class="wrapReplyBox">
				<span class="bold">@{{firebaseUser.displayName}}</span>
				<textarea ctrl-enter="send()" class="form-control replyBox" elastic ng-model="replyBox" type="text" name="reply" placeholder="What's on your mind?"></textarea>
				<button class="btn btn-dride-black sendBtn pull-right" ng-click="send()">Send</button>
				<label class="hint">Use ctrl+Enter to post | markdown enabled</label>
			</div>


		</div>



	</div>


</div>





<!-- footer -->
<div ng-include="'views/sharedTemplates/footer.html'"></div>

