<div class="col-md-12 wrapTopMenu">
    <!-- header -->
    <div ng-include="'views/sharedTemplates/header.html'"></div>
</div>
<div class="container-fluid greyBg user" ng-init="init()">
        <div class="clearfix container" >




            <div class="col-md-6 box">

            		<h2>Account</h2>


            		<div class="detailsBox">
            			<div class="form-group ">
                          <label>Display Name</label>
                          <input type="text" class="form-control" placeholder="Drider451" ng-model="name">
                        </div>
                        <div class="form-group ">
                          <label>Email</label>
                          <input type="text" class="form-control" placeholder="you@example.com" ng-model="email">
                        </div>


            		</div>



            </div>
            <div class="col-md-6 box">

            		<h2>Privacy</h2>
            		<div class="detailsBox">

                        <div class="privacy">
                            <label class="col-md-9 lbl1">Keep your activity anonymous</label>
                            <div class="col-md-3"> 
                                 <switch id="anonymous" name="anonymous" ng-model="toggle.anonymous" class="green"></switch>
                            </div>
                        </div>
            		</div>
            		<br>
            		<br>
            		<h2>Notifications</h2>
                        <div >
                            <label class="col-md-9 lbl1">Get notified on post comment</label>
                            <div class="col-md-3"> 
                                 <switch id="anonymous" name="anonymous" ng-model="toggle.subscribeComments" class="green"></switch>
                            </div>
                        </div>
                        <div >
                            <label class="col-md-9 lbl1">Subscribe to our newsletter</label>
                            <div class="col-md-3"> 
                                 <switch id="anonymous" name="anonymous" ng-model="toggle.subscribe" class="green"></switch>
                            </div>
                        </div>
                    <div class="clear"></div>
            		<h2>Web Notifications</h2>
                        <div >
                            <label class="col-md-9 lbl1">Receive web notification</label>
                            <div class="col-md-3"> 
                                 <switch id="anonymous" name="anonymous" ng-model="toggle.FCM" class="green"></switch>
                            </div>
                        </div>

            </div>


        </div>
</div>
<div ng-include="'views/sharedTemplates/footer.html'"></div>