
      <div class="upperText">
	        <h1 class="text-center">xxxxxxWelcome to dride</h1>
	        <p >Ipsum is not simply random text. It has roots in a piece of classical Latin literature from making it over years old. Richard Mc psum is not simply random text. It has roots in a piece of classical Latin literature from making it over years old. Richard Mc</p>
	      </div>
	      <div class="divider container-fluid inlineBg1">
      </div>

<div class="bottomIcon">
      <span class="icon-wifi node" ></span>
</div>