
<div class="upperText">
    <h1 class="text-left">Connectivity</h1>
    <p >Connecting to Dride is fast and easy while using your phone’s 3g or a Sim-card.</p>
  </div>
  <div class="divider container-fluid inlineBg1">
</div>

<div class="divider container-fluid">
	<img class="img-responsive full-width" src="images/bg1.png"/>
</div>

<br>
<a href="/features" class="btn btn-dride col-xs-offset-3 col-xs-6 btn-dride-white fx8">LEARN MORE</a>


<div class="bottomIcon">
      <span class="icon-wifi-full fullIc node" ></span>
</div>