
<div class="upperText">
    <h1 class="text-left">Connectivity</h1>
    <p >Dride can either work using your phone's 3g connection or using a Sim-card</p>
  </div>
  <div class="divider container-fluid inlineBg1">
</div>

<div class="divider container-fluid">
	<img class="img-responsive full-width" src="images/bg1.png"/>
</div>

<br>
<button class="btn btn-dride col-xs-offset-3 col-xs-6 btn-dride-white fx8">START BUILDING</button>


<div class="bottomIcon">
      <span class="icon-wifi-full fullIc node" ></span>
</div>