<div class="videogular-container" *ngIf="isBrowser && currentVideo">

	<div class="loader" *ngIf="!currentVideo.thumb">
		<img src="./assets/images/loader.gif" alt="processing" />
		<p>
			Proccessing, This can take a minute..
		</p>
	</div>
	<div *ngIf="currentVideo.thumb">
		<vg-player class="player" [ngClass]="{'standalone': !isCard, 'autoPlay': autoplay}" (onPlayerReady)="onPlayerReady($event, currentVideo, tag)">
			<vg-overlay-play *ngIf="!showReplay"></vg-overlay-play>
			<vg-buffering></vg-buffering>
			<span *ngIf="showReplay" class="icon-replay" (click)="rePlay()"></span>

			<video [muted]="true" [vgMedia]="media" #media preload="auto" [autoplay]="autoplay" webkit-playsinline playsinline [poster]="currentVideo.thumb"
			 class="videoPlayer" (click)="pause()">
				<source [src]="currentVideo.clip" type="video/mp4">
			</video>

			<div *ngIf="total" [@introAnim] class="fullScreen" (click)="fullScreen()">
				<span class="icon-full-screen2"></span>
			</div>

			<scrub-slider *ngIf="total" [@introAnim] [currentTime]="currentTime" [total]="total" [cue]="currentVideo.cue" [buffered]="buffered"
			 (timeChange)="updateCurrentTime($event)"></scrub-slider>

			<vg-time-display *ngIf="total" [@introAnim] class="elapsed" vgProperty="left" vgFormat="mm:ss"></vg-time-display>

		</vg-player>
	</div>
</div>