<div class="loginBox askModal" bsModal (onShown)="onShown()">

    <div class="modal-header">
        <h3 class="modal-title" >Ask A Question</h3>
        <p class="float-right closeModal" (click)="closeModal()">x</p>
    </div>
    <span class="icon-toyCar-1" [ngClass]="{'animatedCar': isLoaded}"></span>
    <div class="modal-body px-0">
        <div class="container-fluid">
            <div class="row" class="animate-show">
                <div class="col-md-12 tc px-0" >
                    <div class="loginBox">
                        <div class="padWrap form-group" [ngClass]="{'has-danger': showDanger}">

                            <h2 class="text-center">Title</h2>

                            <input class="form-control replyBox form-control-danger" type="text" [(ngModel)]="qTitle" placeholder="State a meaningfull title for your question."/>
                            <span class="hint">You will have plenty of space to describe your question in detail on the next screen</span>
                            <br>
                            <div class="text-center">
                                <button class="btn btn-dride-black btn-dride-center" (click)="openThread(qTitle)">Continue</button>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer text-left">
    
     
    </div>

</div>