
    
		        <div class="textBox" edit-page>
					<h1>Automated Setup</h1>
		        </div>
		        
		        <div class="textBox" edit-page>
		            <p>In order to setup your raspberryPi with dride you need to download the preinstalled <b><a target="_BLANK" href="https://www.raspberrypi.org/downloads/raspbian/">Raspbian Jessie</a></b> image with all the software needed or use the <a href="c/manual_setup">manual installation guide</a>:</p>

		            <h2>Download & run the install script</h2>
		            <div hljs hljs-language="bash">wget https://dride.io/code/install.sh &#13;&#10;
. install.sh</div>


					<p>This script will take a while so you can grab a cup of coffee.</p>
					<br>
					<p>After the script is done we will have the following pakages insatlled on our dride:</p>
					<ul>
						<li>OpenCV</li>
						<li>pip</li>
						<li>Python</li>
						<li>omxplayer</li>
						<li>Cardigan (Dride-core)</li>
						<li>Wifi setup</li>
					</ul>
		        </div>   

		        <br>
		        <br>
		        <div class="textBox" edit-page>
		            <h1>Architecture</h1>
		        </div>
		        <div class="textBox" edit-page>
		            <p>Dride is based on Node.js. It is controlled by an array of native and custom modules.</p>

<div hljs hljs-language="bash">dride/&#13;&#10;
├── package.json&#13;&#10;
│&#13;&#10;
├── node_modules/&#13;&#10;
│   ├── dride-ws/&#13;&#10;
│   ├── dride-core/&#13;&#10;
│   ├── dride-connectivity/&#13;&#10;
│   ├── dride-indicators/&#13;&#10;
│   ├── dride-cloud/&#13;&#10;
│   ├── dride-alexa/&#13;&#10;
│   └── ...&#13;&#10;
├── startup.js&#13;&#10;
│&#13;&#10;
└── ...&#13;&#10;
</div>





		        </div>   
		</div>