
    
		        <div class="textBox" edit-page>
					<h1>Automated Setup</h1>
		        </div>
		        
		        <div class="textBox" edit-page>
		            <p>In order to setup your raspberryPi with dride you need to download the preinstalled <b><a target="_BLANK" href="https://www.raspberrypi.org/downloads/raspbian/">Raspbian Jessie</a></b> image with all the software needed or use the <a href="c/manual_setup">manual installation guide</a>:</p>

		            <h2>Download & run the install script</h2>
		            <div hljs hljs-language="bash">wget https://dride.io/code/install.sh 
. install.sh</div>


					<p>This script will take a while so you can grab a cup of coffee.</p>
					<br>
					<p>After the script is done we will have the following pakages insatlled on our dride:</p>
					<ul>
						<li>OpenCV</li>
						<li>pip</li>
						<li>Python</li>
						<li>omxplayer</li>
						<li>Cardigan (Dride-core)</li>
						<li>Wifi setup</li>
					</ul>
		        </div>   

		        <br>
		        <br>
		        <div class="textBox" edit-page>
		            <h1>Architecture</h1>
		        </div>
		        <div class="textBox" edit-page>
		            <p>Dride is based on Node.js. It is controlled by an array of native and custom modules.</p>
<div hljs hljs-language="bash">dride/
├── package.json
│
├── node_modules/
│   ├── dride-ws/
│   ├── dride-core/
│   ├── dride-dvr/
│   ├── dride-connectivity/
│   ├── dride-indicators/
│   ├── dride-cloud/
│   ├── dride-alexa/
│   └── ...
├── startup.js
│
└── ...
</div>




		        </div>   
		</div>