
    
		        <div class="textBox" edit-page>
					<h1>Automated Setup</h1>
		        </div>
		        
		        <div class="textBox" edit-page>
	            
		            <p>In order to set-up your raspberry Pi with your Dride, Run the script below.</p>
		            <p>You can also download a pre-installed pre-configured <b><a ng-click="trackDownload()" target="_BLANK" href="https://s3.amazonaws.com/dride/image_2017-01-26-drideOS-lite.zip"><b>drideOS (Raspbian Jessie)</b></a></b> image with all the software needed.
		           Or use the <a href="c/manual_setup">Manual Installation Guide</a>. </p>
					<br><br>
					<h2 class="text-center regCase">Download drideOS</h2>
					<div class="getDride" ng-click="trackDownload()" >
						<a class="text-center" target="_BLANK" href="https://s3.amazonaws.com/dride/image_2017-01-26-drideOS-lite.zip">
							<p>drideOS</p>
							<p class="smallTag">v0.1 Alpha</p>
						</a>
					</div>
		           <div class="alert alert-warning" role="alert">Learn how to install the operating system image on an SD card for <a href="https://www.raspberrypi.org/documentation/installation/installing-images/mac.md">Mac OS</a>, <a href="https://www.raspberrypi.org/documentation/installation/installing-images/windows.md">Windows</a> & <a href="https://www.raspberrypi.org/documentation/installation/installing-images/linux.md">Linux</a></div>



		           	<br>
		            <h2>Download & run the install script</h2>
		            <div hljs hljs-language="bash">bash -c "$(curl -s https://dride.io/code/install.sh)"</div>


					<p class="hint">This script may take up to 3 hours so grab a cup of coffee before starting.</p>
					<br>
					<p>After the script is completed, you will have the following packages installed on your Dride:</p>
					<ul>
						<li>OpenCV</li>
						<li>pip</li>
						<li>numpy</li>
						<li>Python</li>
						<li>omxplayer</li>
						<li>hostapd</li>
						<li><a href="https://github.com/dride/Cardigan">Cardigan (Dride-core)</a></li>
					</ul>
					<br>
					<h2>Testing</h2>
					<p>Downlaod Dride's app for <a href="https://itunes.apple.com/us/app/dride/id1185398002?ls=1&mt=8">iOS</a> or <a href="https://play.google.com/store/apps/details?id=io.dride">Android</a></p>
					<p>Go to Settings > Wi-Fi on your phone and select <u>dride</u>, enter the password "<u>ilovedride</u>", then return to the app.</p>
		        </div>   

		        <br>
		        <br>
		        <div class="textBox" edit-page>
		            <h1>Architecture</h1>
		        </div>
		        <div class="textBox" edit-page>
		            <p>Dride is based on Node.js. It is controlled by an array of native and custom modules.</p>

<div hljs hljs-language="bash">dride/&#13;&#10;
├── package.json&#13;&#10;
│&#13;&#10;
├── node_modules/&#13;&#10;
│   ├── dride-ws/&#13;&#10;
│   ├── dride-core/&#13;&#10;
│   ├── dride-connectivity/&#13;&#10;
│   ├── dride-indicators/&#13;&#10;
│   ├── dride-cloud/&#13;&#10;
│   ├── dride-alexa/&#13;&#10;
│   └── ...&#13;&#10;
├── startup.js&#13;&#10;
│&#13;&#10;
└── ...&#13;&#10;
</div>





		        </div>   
		</div>