<div class="textBox" edit-page>
    <h1>indicators | Front light & Impulse ring</h1>
</div>
<div class="textBox" edit-page>
    <br>
    <div class="alert alert-warning" role="alert">This document is incomplete</div>

    <div hljs hljs-language="javaScript">var indicators = require('dride-indicators')</div>
    <br>
    <br>
    <br>
    <br>
<div class="panel panel-default">
  <div class="panel-heading">Mark as loading</div>
  <div class="panel-body">
		            <div hljs hljs-language="javaScript">indicators.startLoading();</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Stop loading</div>
  <div class="panel-body">
		            <div hljs hljs-language="javaScript">indicators.stopLoading();</div>
  </div>
</div>
</div>
