
		        <div class="textBox" edit-page>
		            <h1>Manual Setup</h1>
		        </div>
		        <div class="textBox" edit-page>
		            <h2>Make sure everything is up to date </h2>
		            <div hljs hljs-language="bash">sudo apt-get update</div>

		            <h2>Install build-essential</h2>
		            <div hljs hljs-language="bash">sudo apt-get install build-essential</div>


		            <h2>Install cmake git libgtk2.0-dev pkg-config libavcodec-dev libavformat-dev libswscale-dev libjasper-dev python2.7-dev</h2>
		            <div hljs hljs-language="bash">sudo apt-get install cmake git libgtk2.0-dev pkg-config libavcodec-dev libavformat-dev libswscale-dev libjasper-dev python2.7-dev</div>

		            <h2>Install pip</h2>
		            <div hljs hljs-language="bash">wget https://bootstrap.pypa.io/get-pip.py
sudo python get-pip.py</div>

		            <h2>Install NumPy</h2>
		            <div hljs hljs-language="bash">sudo pip install numpy</div>

		            <h2>Install OpenCV</h2>
		            <div hljs hljs-language="bash">cd ~&#13;&#10;
git clone https://github.com/Itseez/opencv.git&#13;&#10;
cd opencv&#13;&#10;
git checkout 3.1.0&#13;&#10;
cd ~/opencv&#13;&#10;
mkdir build&#13;&#10;
cd build&#13;&#10;
cmake -D CMAKE_BUILD_TYPE=RELEASE \&#13;&#10;
-D CMAKE_INSTALL_PREFIX=/usr/local ..&#13;&#10;
make -j4&#13;&#10;
&#13;&#10;
sudo make install&#13;&#10;
sudo ldconfig</div>

		            <h2>Install Nodejs</h2>
		            <div hljs hljs-language="bash">sudo wget http://node-arm.herokuapp.com/node_latest_armhf.deb &#13;&#10;
sudo dpkg -i node_latest_armhf.deb</div>

		            <h2>Install Dride-core</h2>
		            <div hljs hljs-language="bash">cd /home&#13;&#10;
sudo git clone --recursive https://github.com/CardiganCam/Cardigan.git&#13;&#10;
cd Cardigan</div>


		            <h2>Install Pi-camera</h2>
		            <div hljs hljs-language="bash">sudo pip install "picamera[array]"</div>

		            <h2>Install omxplayer</h2>
		            <div hljs hljs-language="bash">sudo apt-get install omxplayer -y</div>


		            <h2>Setup WIFI</h2>
		            <div hljs hljs-language="bash">sudo apt-get install hostapd isc-dhcp-server&#13;&#10;
sudo apt-get install iptables-persistent&#13;&#10;
cd /home &#13;&#10;
sudo wget https://dride.io/code/dhcpd.conf&#13;&#10;
sudo cp dhcpd.conf /etc/dhcp/dhcpd.conf&#13;&#10;
sudo rm dhcpd.conf &#13;&#10;
sudo bash -c 'echo "INTERFACES=\"wlan0\""> /etc/default/isc-dhcp-server' &#13;&#10;
sudo ifdown wlan0 &#13;&#10;
sudo wget https://dride.io/code/interfaces&#13;&#10;
sudo cp interfaces /etc/network/interfaces&#13;&#10;
sudo rm interfaces&#13;&#10;
sudo ifconfig wlan0 192.168.42.1&#13;&#10;
sudo wget https://dride.io/code/hostapd.conf&#13;&#10;
sudo cp hostapd.conf /etc/hostapd/hostapd.conf&#13;&#10;
sudo rm hostapd.conf&#13;&#10;
sudo bash -c 'echo "DAEMON_CONF=\"/etc/hostapd/hostapd.conf\""> /etc/default/hostapd'&#13;&#10;
sudo wget https://dride.io/code/hostapd&#13;&#10;
sudo cp hostapd /etc/init.d/hostapd&#13;&#10;
sudo rm hostapd&#13;&#10;
sudo bash -c 'echo "net.ipv4.ip_forward=1"> /etc/sysctl.conf'&#13;&#10;
sudo sh -c "echo 1 > /proc/sys/net/ipv4/ip_forward"&#13;&#10;
sudo iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE&#13;&#10;
sudo iptables -A FORWARD -i eth0 -o wlan0 -m state --state RELATED,ESTABLISHED -j ACCEPT&#13;&#10;
sudo iptables -A FORWARD -i wlan0 -o eth0 -j ACCEPT&#13;&#10;
sudo sh -c "iptables-save > /etc/iptables/rules.v4"&#13;&#10;
sudo mv /usr/share/dbus-1/system-services/fi.epitest.hostap.WPASupplicant.service ~/&#13;&#10;
sudo service hostapd start &#13;&#10;
sudo service isc-dhcp-server start&#13;&#10;
sudo update-rc.d hostapd enable &#13;&#10;
sudo update-rc.d isc-dhcp-server enable&#13;&#10;</div>



		            <h2>Setup dride-ws & startup script's</h2>
		            <div hljs hljs-language="bash">cd /home/Cardigan/dride-ws&#13;&#10;
sudo npm i&#13;&#10;
sudo wget https://dride.io/code/startup/dride-ws&#13;&#10;
sudo wget https://dride.io/code/startup/dride-core&#13;&#10;
sudo cp dride-ws /etc/init.d/dride-ws&#13;&#10;
sudo chmod +x /etc/init.d/dride-ws&#13;&#10;
sudo update-rc.d dride-ws defaults&#13;&#10;
sudo rm dride-ws&#13;&#10;
sudo cp dride-core /etc/init.d/dride-core&#13;&#10;
sudo chmod +x /etc/init.d/dride-core&#13;&#10;
sudo update-rc.d dride-core defaults&#13;&#10;
sudo rm dride-core&#13;&#10;
</div>






		        </div>   
		</div>