.user{
    min-height: 100vh;
    h2{
        padding-bottom: 22px;
        padding-top: 10px;
    }
    .box {
		min-height: 100px;
		background-color: #fff;
		border-radius: 2px;
		padding-top: 0px;
		margin: 9px;
		border: 1px solid rgba(0, 0, 0, 0.09);
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);

    }
	.card-block{
		padding: 27px;
	}
    label {
        font-size: 18px;
        padding: 8px;
        padding-left: 0;
        font-weight: 100;
		padding-bottom: 0;
    }
    input:focus,
    button:focus {
        border: 0;
        box-shadow: none;
        outline: none;
    }
    input {
		background-color: #eaeaea;
		border: 0;
		box-shadow: none;
		padding: 11px;
		font-size: 16px;
		height: initial;
		font-weight: 100;
		padding-left: 13px;
		padding-top: 10px;
    }
    .respRight{
        float: right;
    }
	.privacy{
		margin-top: 29px;
	}
	.card-block .row{
		padding-left: 15px;
	}
	.svp{
		margin-top: 15px;
		font-size: 14px;
		font-family: 'Comfortaa';
	}
    .forgetPass{
		font-size: 14px;
        padding: 17px;
        padding-left: 0;
        text-decoration: underline !important;
        cursor: pointer;
    }

}
