<div class="container-fluid greyBg user">
	<div class="clearfix container" *ngIf="userData.name">



		<div class="card-columns">
			<div class="box card">
				<div class="card-block">

					<h2>Account</h2>

					<div class="detailsBox">
						<div class="form-group ">
							<label>Display Name</label>
							<input type="text" class="form-control" placeholder="Drider451" [(ngModel)]="userData.name">
						</div>
						<div class="form-group ">
							<label>Email</label>
							<input type="text" class="form-control" placeholder="you@example.com" [(ngModel)]="email">
						</div>
						<div class="privacy">
							<a class="col-md-8 forgetPass" ng-click="resetPassword()">Forget password</a>
						</div>
						<button type="button" class="btn btn-dride-black btn-block svp" ng-click="updateEmail()">Save</button>


					</div>



				</div>
			</div>
			<div class="box card">
				<div class="card-block">
					<h2>Privacy</h2>
					<div class="detailsBox">

						<div class="privacy row mt-0">
							<label class="col-md-9 lbl1">Keep your activity anonymous</label>
							<div class="col-md-3">
								<ui-switch [(ngModel)]="userData.anonymous" class="green" (click)="saveOption('anonymous', userData.anonymous)"></ui-switch>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="box card">
				<div class="card-block">
					<h2>Notifications</h2>
					<div class="row">
						<label class="col-md-9 lbl1">Get notified on post comment</label>
						<div class="col-md-3">
							<ui-switch [(ngModel)]="userData.notification.comments" class="green" (click)="saveOption('notification/comments', userData.notification.comments)"></ui-switch>
						</div>
					</div>
					<div class="row">
						<label class="col-md-9 lbl1">Subscribe to our newsletter</label>
						<div class="col-md-3">
							<ui-switch [(ngModel)]="userData.notification.subscribe" class="green" (click)="saveOption('notification/subscribe', userData.notification.subscribe)"></ui-switch>
						</div>
					</div>
					<div class="row">
						<label class="col-md-9 lbl1">Receive web notification {{havePush}}</label>
						<div class="col-md-3">
							<ui-switch [(ngModel)]="FCM" class="green" (click)="toggleNotifications()"></ui-switch>
						</div>
					</div>

				</div>
			</div>

			<!--             <div class="col-md-6 box">
                    <h2>Forget password</h2>
                    <div class="detailsBox">
                        <div class="privacy">
                            <label class="col-md-8 lbl1">Forget password</label>
                            <div class="col-md-4"> 
                                 <button type="button" ng-click="resetPassword()" class="btn btn-dride-black">Reset password</button>
                            </div>
                        </div>
                    </div>
                    
            </div> -->

			<div class="box card">
				<div class="card-block">

					<h2>Devices</h2>
					<div class="detailsBox">

						<div ng-repeat="(key, device) in userDevices">
							<p>{{key}}</p>
						</div>
						<p ng-if="!userDevices">No Devices yet</p>

					</div>


				</div>
			</div>
		</div>
	</div>
</div>